In [9]:
#顯示學生成績表
import sqlite3
dbfile = "school.db"
conn = sqlite3.connect(dbfile)
rows = conn.execute("select * from score;")
for row in rows:
    for field in row:
        print("{}\t".format(field), end="")
    print()
conn.close()

1	A23001	80	90	34	56	66
2	A23001	80	90	34	56	66
3	A23001	80	90	34	56	66
4	A23001	80	90	34	56	66
5	A23001	80	90	34	56	66
6	A23001	56	84	88	62	84

In [8]:
#輸入學生成績
import sqlite3
dbfile = "school.db"
conn = sqlite3.connect(dbfile)
stuno = input("學號：")
chi = input("國文成績：")
eng = input("英文成績：")
mat = input("數學成績：")
his = input("歷史成績：")
geo = input("地理成績：")
sql_str = "insert into score(stuno, chi, eng, mat, his, geo) values('{}',{},{},{},{},{});".format(
    stuno, chi, eng, mat, his, geo)
conn.execute(sql_str)
conn.commit()
conn.close()

學號：A23001
國文成績：56
英文成績：84
數學成績：88
歷史成績：62
地理成績：84

In [22]:
#輸入學生資料表 
import sqlite3
dbfile = "school.db"
conn = sqlite3.connect(dbfile)
stuno = input("學號：")
while stuno!="-1":
    name = input("姓名：")
    gender = input("性別：")
    clsno = input("班級編號：")
    tel = input("電話：")
    pid = input("家長身份證字號：")
    sql_str = "insert into studata(stuno, name, gender, clsno, tel, pid) values('{}','{}','{}','{}','{}','{}');".format(
        stuno, name, gender, clsno, tel, pid)
    conn.execute(sql_str)
    stuno = input("學號：")
conn.commit()
conn.close()

學號：A23004
姓名：曾小美
性別：女
班級編號：102
電話：0941784522
家長身份證字號：R245111333
學號：A23005
姓名：許天天
性別：男
班級編號：102
電話：0922111444
家長身份證字號：S211444522
學號：-1

In [7]:
#顯示學生基本資料表
import sqlite3
dbfile = "school.db"
conn = sqlite3.connect(dbfile)
rows = conn.execute("select * from studata;")
for row in rows:
    for field in row:
        print("{}\t".format(field), end="")
    print()
conn.close()

1	A23001	林小明	男	101	0923999888	A123456789
2	A23002	王小華	女	101	0985541254	A222457854
3	A23003	張大頭	男	101	0952111454	C124562525
4	A23004	曾小美	女	102	0941784522	R245111333
5	A23005	許天天	男	102	0922111444	S211444522

In [13]:
#顯示學生的完整成績表（含總分及平均）
import sqlite3
dbfile = "school.db"
conn = sqlite3.connect(dbfile)
rows = conn.execute("select stuno, chi, eng, mat, his, geo, chi+eng+mat+his+geo, (chi+eng+mat+his+geo)/5 from score;")
print("學號\t國文\t英文\t數學\t歷史\t地理\t總分\t平均")
for row in rows:
    for field in row:
        print("{}\t".format(field), end="")
    print()
conn.close()

學號	國文	英文	數學	歷史	地理	總分	平均
A23001	80	90	34	56	66	326	65
A23002	56	84	88	62	84	374	74
A23003	85	95	66	84	74	404	80
A23004	65	55	87	99	65	371	74
A23005	75	68	98	88	95	424	84

In [5]:
#顯示學生各科的平均
import sqlite3
dbfile = "school.db"
conn = sqlite3.connect(dbfile)
rows = conn.execute("select stuno, avg(chi), avg(eng), avg(mat), avg(his), avg(geo) from score;")
print("學號\t國文\t英文\t數學\t歷史\t地理")
for row in rows:
    for field in row:
        print("{}\t".format(field), end="")
    print()
conn.close()

學號	國文	英文	數學	歷史	地理
A23001	80.0	90.0	34.0	56.0	66.0

In [8]:
#依姓名顯示成績表
import sqlite3
dbfile = "school.db"
conn = sqlite3.connect(dbfile)
rows = conn.execute("select studata.name, score.chi, score.eng from score, studata;")
for row in rows:
    for field in row:
        print("{}\t".format(field), end="")
    print()
conn.close()

林小明	80	98
王小華	80	98
張大頭	80	98
曾小美	80	98
許天天	80	98
林小明	89	99
王小華	89	99
張大頭	89	99
曾小美	89	99
許天天	89	99
林小明	89	90
王小華	89	90
張大頭	89	90
曾小美	89	90
許天天	89	90
林小明	99	89
王小華	99	89
張大頭	99	89
曾小美	99	89
許天天	99	89
林小明	89	56
王小華	89	56
張大頭	89	56
曾小美	89	56
許天天	89	56

In [14]:
#依姓名顯示成績表--使用INNER JOIN
import sqlite3
dbfile = "school.db"
conn = sqlite3.connect(dbfile)
rows = conn.execute("select studata.name, score.chi, score.eng from score inner join studata on score.stuno = studata.stuno;")
for row in rows:
    for field in row:
        print("{}\t".format(field), end="")
    print()
conn.close()

林小明	80	90
王小華	56	84
張大頭	85	95
曾小美	65	55
許天天	75	68

In [26]:
#成績修改程式
import sqlite3
dbfile = "school.db"
conn = sqlite3.connect(dbfile)
stuno = input("請輸入想要修改成績的學號：")
rows = conn.execute("select stuno, chi, eng, mat, his, geo from score where stuno='{}'".format(stuno))
row = rows.fetchone()
if row is not None:
    print("學號\t國文\t英文\t數學\t歷史\t地理")
    for field in row:
        print("{}\t".format(field), end="")
    print()
chi = input("國文=")
eng = input("英文=")
mat = input("數學=")
his = input("歷史=")
geo = input("地理=")
sql_str = "update score set stuno='{}', chi={}, eng={}, mat={}, his={}, geo={} where stuno='{}';".format(
    stuno, chi, eng, mat, his, geo, stuno)
conn.execute(sql_str)
conn.commit()
conn.close()

請輸入想要修改成績的學號：A23001
學號	國文	英文	數學	歷史	地理
A23001	90	90	90	100	100
國文=80
英文=90
數學=34
歷史=56
地理=66

In [38]:
import sqlite3
dbfile = "school.db"
conn = sqlite3.connect(dbfile)
rows = conn.execute("select * from score;")
print(type(rows))
print(dir(rows))
print(type(rows.fetchone()))
conn.close()

<class 'sqlite3.Cursor'>
['__class__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__lt__', '__ne__', '__new__', '__next__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'arraysize', 'close', 'connection', 'description', 'execute', 'executemany', 'executescript', 'fetchall', 'fetchmany', 'fetchone', 'lastrowid', 'row_factory', 'rowcount', 'setinputsizes', 'setoutputsize']
<class 'tuple'>

In [16]:
import sqlite3
dbfile = "school.db"
conn = sqlite3.connect(dbfile)
cur = conn.cursor()
cur.execute("select * from score;")
print(type(cur.fetchone()))
print(cur.fetchone())

<class 'tuple'>
(2, 'A23002', 56, 84, 88, 62, 84)

In [27]:
import sqlite3
dbfile = "school.db"
conn = sqlite3.connect(dbfile)
cur = conn.cursor()
cur.execute("select * from score;")
first3_records = cur.fetchmany(3)
all_records = cur.fetchall()
print(first3_records)
print(all_records)
conn.close()

[(1, 'A23001', 80, 90, 34, 56, 66), (2, 'A23002', 56, 84, 88, 62, 84), (3, 'A23003', 85, 95, 66, 84, 74)]
[(4, 'A23004', 65, 55, 87, 99, 65), (5, 'A23005', 75, 68, 98, 88, 95)]

In [43]:
import sqlite3
dbfile = "school.db"
conn = sqlite3.connect(dbfile)
conn.row_factory = sqlite3.Row
cur = conn.cursor()
cur.execute("select * from score;")
rows = cur.fetchall()
print(rows[0].keys())
print(type(rows))
print(type(rows[0]))
print("學號\t國文\t英文")
for row in rows:
    print("{}\t{}\t{}".format(row['stuno'], row['chi'], row['eng']))

['id', 'stuno', 'chi', 'eng', 'mat', 'his', 'geo']
<class 'list'>
<class 'sqlite3.Row'>
學號	國文	英文
A23001	80	90
A23002	56	84
A23003	85	95
A23004	65	55
A23005	75	68