# 讀取集保股權分散表

In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
url = "http://www.tdcc.com.tw/smWeb/QryStock.jsp"

In [3]:
r = requests.get(url)

In [4]:
soup = BeautifulSoup(r.text, 'lxml')

In [5]:
sca_date = soup.select("option")

In [6]:
url = "http://www.tdcc.com.tw/smWeb/QryStock.jsp?SCA_DATE={}&SqlMethod=StockNo&StockNo={}&StockName=&sub=%ACd%B8%DF"

In [7]:
full_url = url.format(sca_date[0].text, '2330')

In [8]:
r = requests.get(full_url)

In [9]:
soup = BeautifulSoup(r.text, 'lxml')

In [10]:
html_table = soup.select('.mt')

In [11]:
dfs = pd.read_html(str(html_table[1]), header=0)

In [12]:
dfs[0]

       序        持股/單位數分級     人 數      股 數/單位數  佔集保庫存數比例 (%)
0    1.0           1-999  145792     31686509          0.12
1    2.0       1000-5000  126144    259098808          0.99
2    3.0      5001-10000   22120    158772483          0.61
3    4.0     10001-15000    8509    103673643          0.39
4    5.0     15001-20000    4022     70649098          0.27
5    6.0     20001-30000    4321    105187746          0.40
6    7.0     30001-40000    2099     72734843          0.28
7    8.0     40001-50000    1336     60122046          0.23
8    9.0    50001-100000    2601    182177759          0.70
9   10.0   100001-200000    1500    209240869          0.80
10  11.0   200001-400000     998    279174433          1.07
11  12.0   400001-600000     439    214905319          0.82
12  13.0   600001-800000     265    184380373          0.71
13  14.0  800001-1000000     182    162270618          0.62
14  15.0     1,000,001以上    1442  23836305911         91.92
15   NaN             合　計  321770  25930380458        100.00