In [2]:
#資料檔路徑(資料檔：i_filepath，完成檔：o_filepath，內文說明檔：c_filepath)
filepath = '/content/MyGoogleDrive/My Drive/Colab Notebooks/Python-for-Titanic/Ch04/'
i_filepath = filepath 
o_filepath = filepath + '完成檔/'
c_filepath = filepath + '內文說明檔/'

#4-1 常見的資料處理工作

#4-1-1 資料觀察

# 實作-觀察資料框和刪除重複記錄【EX4-1.1.ipynb】

# Step 01

In [3]:
from google.colab import drive
drive.mount('/content/MyGoogleDrive')
import pandas as pd
df=pd.read_csv(i_filepath + '學生成績檔-4-1.1.csv')
df.head()

Mounted at /content/MyGoogleDrive

        ID name sex                  email  ...  第2次平時考  第3次平時考  第4次平時考  第5次平時考
0  1080001  丁軒軒   男  1080001@sun.tc.edu.tw  ...    88.0    82.0      87    92.0
1  1080002  王倫樺   女  1080002@sun.tc.edu.tw  ...   100.0    95.0      99    96.0
2  1080003  何宜敏   女  1080003@sun.tc.edu.tw  ...    87.0    86.0      82    82.0
3  1080004  何志陞   男  1080004@sun.tc.edu.tw  ...    92.0    99.0      91    92.0
4  1080005  吳ㄧ歌   女  1080005@sun.tc.edu.tw  ...     NaN    92.0      97    98.0

[5 rows x 9 columns]

# Step 02

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      41 non-null     int64
 1   name    41 non-null     object
 2   sex     41 non-null     object
 3   email   41 non-null     object
 4   第1次平時考  41 non-null     int64
 5   第2次平時考  39 non-null     float64
 6   第3次平時考  40 non-null     float64
 7   第4次平時考  41 non-null     int64
 8   第5次平時考  40 non-null     float64
dtypes: float64(3), int64(3), object(3)
memory usage: 3.0+ KB

# Step 03

In [5]:
df.describe()

                 ID     第1次平時考      第2次平時考      第3次平時考      第4次平時考      第5次平時考
count  4.100000e+01  41.000000   39.000000   40.000000   41.000000   40.000000
mean   1.080020e+06  80.341463   82.564103   83.375000   83.487805   84.200000
std    1.176342e+01  21.096931   17.784965   18.077735   20.975130   21.367601
min    1.080001e+06  -1.000000   -1.000000   -1.000000   -1.000000   -1.000000
25%    1.080010e+06  81.000000   81.000000   80.750000   85.000000   83.750000
50%    1.080020e+06  86.000000   87.000000   86.500000   87.000000   88.500000
75%    1.080030e+06  91.000000   90.500000   93.500000   93.000000   94.000000
max    1.080040e+06  97.000000  100.000000  100.000000  100.000000  100.000000

# Step 04

In [8]:
df.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6      True
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
dtype: bool

In [9]:
df

         ID name sex                  email  ...  第2次平時考  第3次平時考  第4次平時考  第5次平時考
0   1080001  丁軒軒   男  1080001@sun.tc.edu.tw  ...    88.0    82.0      87    92.0
1   1080002  王倫樺   女  1080002@sun.tc.edu.tw  ...   100.0    95.0      99    96.0
2   1080003  何宜敏   女  1080003@sun.tc.edu.tw  ...    87.0    86.0      82    82.0
3   1080004  何志陞   男  1080004@sun.tc.edu.tw  ...    92.0    99.0      91    92.0
4   1080005  吳ㄧ歌   女  1080005@sun.tc.edu.tw  ...     NaN    92.0      97    98.0
5   1080006  宋緯挺   男  1080006@sun.tc.edu.tw  ...    81.0    83.0      90    88.0
6   1080006  宋緯挺   男  1080006@sun.tc.edu.tw  ...    81.0    83.0      90    88.0
7   1080007  李宇綸   女  1080007@sun.tc.edu.tw  ...    76.0    89.0      87    85.0
8   1080008  李憲勝   男  1080008@sun.tc.edu.tw  ...    -1.0    -1.0      -1    -1.0
9   1080009  杜以潔   女  1080009@sun.tc.edu.tw  ...    56.0    57.0      54    53.0
10  1080010  沈程隆   男  1080010@sun.tc.edu.tw  ...    77.0    84.0      86    83.0
11  1080011  沈慈惠   女  1080011@sun.tc.edu.tw  ...    84.0    90.0      87    92.0
12  1080012  林絜峰   男  1080012@sun.tc.edu.tw  ...    75.0    66.0      -1    -1.0
13  1080013  林保苓   女  1080013@sun.tc.edu.tw  ...    94.0    99.0      96    94.0
14  1080014  林宏銘   男  1080014@sun.tc.edu.tw  ...    56.0    58.0      85    88.0
15  1080015  邱堂儀   女  1080015@sun.tc.edu.tw  ...    84.0    83.0      83    85.0
16  1080016  施帆蓉   女  1080016@sun.tc.edu.tw  ...    90.0    92.0      86    92.0
17  1080017  胡祥傑   男  1080017@sun.tc.edu.tw  ...    75.0    78.0      80    78.0
18  1080018  涂育婷   女  1080018@sun.tc.edu.tw  ...    77.0    80.0      87    85.0
19  1080019  高二戈   男  1080019@sun.tc.edu.tw  ...     NaN    77.0      88    83.0
20  1080020  高棋恩   男  1080020@sun.tc.edu.tw  ...    88.0    87.0      87    92.0
21  1080021  張暐惠   女  1080021@sun.tc.edu.tw  ...    89.0    83.0      85    84.0
22  1080022  梁承祐   男  1080022@sun.tc.edu.tw  ...    91.0    90.0      86    92.0
23  1080023  許喬廷   女  1080023@sun.tc.edu.tw  ...    87.0    86.0      85    86.0
24  1080024  許雅均   女  1080024@sun.tc.edu.tw  ...    89.0    96.0      97    98.0
25  1080025  許銘婷   女  1080025@sun.tc.edu.tw  ...    50.0    49.0      74    82.0
26  1080026  陳謙甄   女  1080026@sun.tc.edu.tw  ...    88.0    81.0      81    86.0
27  1080027  陳生貞   男  1080027@sun.tc.edu.tw  ...   100.0   100.0     100   100.0
28  1080028  陳宇愷   男  1080028@sun.tc.edu.tw  ...    92.0    93.0      94   100.0
29  1080029  陳杰育   男  1080029@sun.tc.edu.tw  ...    98.0    96.0      93    95.0
30  1080030  陳一潔   女  1080030@sun.tc.edu.tw  ...    90.0   100.0      97     NaN
31  1080031  陳瑁揚   男  1080031@sun.tc.edu.tw  ...    82.0    93.0      89    91.0
32  1080032  曾彥睿   男  1080032@sun.tc.edu.tw  ...    81.0    78.0      79    83.0
33  1080033  黃杰弘   男  1080033@sun.tc.edu.tw  ...    87.0    79.0      87    86.0
34  1080034  黃富穎   男  1080034@sun.tc.edu.tw  ...    88.0    96.0      99    93.0
35  1080035  詹宗喻   男  1080035@sun.tc.edu.tw  ...    87.0    89.0      88    89.0
36  1080036  廖安軒   女  1080036@sun.tc.edu.tw  ...    92.0    97.0      91    94.0
37  1080037  劉隆霖   男  1080037@sun.tc.edu.tw  ...    87.0    89.0      93    95.0
38  1080038  劉二婕   女  1080038@sun.tc.edu.tw  ...   100.0     NaN      92    95.0
39  1080039  蔡凌嘉   男  1080039@sun.tc.edu.tw  ...   100.0   100.0      94    95.0
40  1080040  謝穎安   男  1080040@sun.tc.edu.tw  ...    82.0    81.0      79    80.0

[41 rows x 9 columns]

# Step 05

In [10]:
df = df.drop_duplicates()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40 entries, 0 to 40
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      40 non-null     int64
 1   name    40 non-null     object
 2   sex     40 non-null     object
 3   email   40 non-null     object
 4   第1次平時考  40 non-null     int64
 5   第2次平時考  38 non-null     float64
 6   第3次平時考  39 non-null     float64
 7   第4次平時考  40 non-null     int64
 8   第5次平時考  39 non-null     float64
dtypes: float64(3), int64(3), object(3)
memory usage: 3.1+ KB

In [11]:
df

         ID name sex                  email  ...  第2次平時考  第3次平時考  第4次平時考  第5次平時考
0   1080001  丁軒軒   男  1080001@sun.tc.edu.tw  ...    88.0    82.0      87    92.0
1   1080002  王倫樺   女  1080002@sun.tc.edu.tw  ...   100.0    95.0      99    96.0
2   1080003  何宜敏   女  1080003@sun.tc.edu.tw  ...    87.0    86.0      82    82.0
3   1080004  何志陞   男  1080004@sun.tc.edu.tw  ...    92.0    99.0      91    92.0
4   1080005  吳ㄧ歌   女  1080005@sun.tc.edu.tw  ...     NaN    92.0      97    98.0
5   1080006  宋緯挺   男  1080006@sun.tc.edu.tw  ...    81.0    83.0      90    88.0
7   1080007  李宇綸   女  1080007@sun.tc.edu.tw  ...    76.0    89.0      87    85.0
8   1080008  李憲勝   男  1080008@sun.tc.edu.tw  ...    -1.0    -1.0      -1    -1.0
9   1080009  杜以潔   女  1080009@sun.tc.edu.tw  ...    56.0    57.0      54    53.0
10  1080010  沈程隆   男  1080010@sun.tc.edu.tw  ...    77.0    84.0      86    83.0
11  1080011  沈慈惠   女  1080011@sun.tc.edu.tw  ...    84.0    90.0      87    92.0
12  1080012  林絜峰   男  1080012@sun.tc.edu.tw  ...    75.0    66.0      -1    -1.0
13  1080013  林保苓   女  1080013@sun.tc.edu.tw  ...    94.0    99.0      96    94.0
14  1080014  林宏銘   男  1080014@sun.tc.edu.tw  ...    56.0    58.0      85    88.0
15  1080015  邱堂儀   女  1080015@sun.tc.edu.tw  ...    84.0    83.0      83    85.0
16  1080016  施帆蓉   女  1080016@sun.tc.edu.tw  ...    90.0    92.0      86    92.0
17  1080017  胡祥傑   男  1080017@sun.tc.edu.tw  ...    75.0    78.0      80    78.0
18  1080018  涂育婷   女  1080018@sun.tc.edu.tw  ...    77.0    80.0      87    85.0
19  1080019  高二戈   男  1080019@sun.tc.edu.tw  ...     NaN    77.0      88    83.0
20  1080020  高棋恩   男  1080020@sun.tc.edu.tw  ...    88.0    87.0      87    92.0
21  1080021  張暐惠   女  1080021@sun.tc.edu.tw  ...    89.0    83.0      85    84.0
22  1080022  梁承祐   男  1080022@sun.tc.edu.tw  ...    91.0    90.0      86    92.0
23  1080023  許喬廷   女  1080023@sun.tc.edu.tw  ...    87.0    86.0      85    86.0
24  1080024  許雅均   女  1080024@sun.tc.edu.tw  ...    89.0    96.0      97    98.0
25  1080025  許銘婷   女  1080025@sun.tc.edu.tw  ...    50.0    49.0      74    82.0
26  1080026  陳謙甄   女  1080026@sun.tc.edu.tw  ...    88.0    81.0      81    86.0
27  1080027  陳生貞   男  1080027@sun.tc.edu.tw  ...   100.0   100.0     100   100.0
28  1080028  陳宇愷   男  1080028@sun.tc.edu.tw  ...    92.0    93.0      94   100.0
29  1080029  陳杰育   男  1080029@sun.tc.edu.tw  ...    98.0    96.0      93    95.0
30  1080030  陳一潔   女  1080030@sun.tc.edu.tw  ...    90.0   100.0      97     NaN
31  1080031  陳瑁揚   男  1080031@sun.tc.edu.tw  ...    82.0    93.0      89    91.0
32  1080032  曾彥睿   男  1080032@sun.tc.edu.tw  ...    81.0    78.0      79    83.0
33  1080033  黃杰弘   男  1080033@sun.tc.edu.tw  ...    87.0    79.0      87    86.0
34  1080034  黃富穎   男  1080034@sun.tc.edu.tw  ...    88.0    96.0      99    93.0
35  1080035  詹宗喻   男  1080035@sun.tc.edu.tw  ...    87.0    89.0      88    89.0
36  1080036  廖安軒   女  1080036@sun.tc.edu.tw  ...    92.0    97.0      91    94.0
37  1080037  劉隆霖   男  1080037@sun.tc.edu.tw  ...    87.0    89.0      93    95.0
38  1080038  劉二婕   女  1080038@sun.tc.edu.tw  ...   100.0     NaN      92    95.0
39  1080039  蔡凌嘉   男  1080039@sun.tc.edu.tw  ...   100.0   100.0      94    95.0
40  1080040  謝穎安   男  1080040@sun.tc.edu.tw  ...    82.0    81.0      79    80.0

[40 rows x 9 columns]

# Step 06 儲存結果【學生成績檔-4-1.1-ANS.csv】

In [12]:
filename='學生成績檔-4-1.1-ANS.csv'       
df.to_csv(o_filepath + filename, index=False)

# 加廣知識：shape,columns,index函式

In [6]:
df.shape

(41, 9)

In [ ]:
df.columns

Index(['ID', 'name', 'sex', 'email', '第1次平時考', '第2次平時考', '第3次平時考', '第4次平時考',
       '第5次平時考'],
      dtype='object')

In [ ]:
df.columns[4]

'第1次平時考'

In [ ]:
df.index

Int64Index([ 0,  1,  2,  3,  4,  5,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
            18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
            35, 36, 37, 38, 39, 40],
           dtype='int64')

In [ ]:
df[df['sex'] == '男'].index

Int64Index([ 0,  3,  5,  8, 10, 12, 14, 17, 19, 20, 22, 27, 28, 29, 31, 32, 33,
            34, 35, 37, 39, 40],
           dtype='int64')

# 4-1-2 資料篩選、刪除列資料與行資料

# 實作-資料篩選、刪除列/行資料【EX4-1.2.ipynb】

# Step 01

In [13]:
from google.colab import drive
drive.mount('/content/MyGoogleDrive')
import pandas as pd
df=pd.read_csv(i_filepath + '學生成績檔-4-1.2.csv')
filter = df['第1次平時考'] == -1 
print(filter)

Drive already mounted at /content/MyGoogleDrive; to attempt to forcibly remount, call drive.mount("/content/MyGoogleDrive", force_remount=True).
0     False
1     False
2     False
3     False
4     False
5     False
6     False
7      True
8     False
9     False
10    False
11     True
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
Name: 第1次平時考, dtype: bool

# Step 02

In [14]:
df[filter]

         ID name sex                  email  ...  第2次平時考  第3次平時考  第4次平時考  第5次平時考
7   1080008  李憲勝   男  1080008@sun.tc.edu.tw  ...    -1.0    -1.0      -1    -1.0
11  1080012  林絜峰   男  1080012@sun.tc.edu.tw  ...    75.0    66.0      -1    -1.0

[2 rows x 9 columns]

# Step 03

In [15]:
i = df[filter].index   #找出所有符合條件的記錄索引
df = df.drop(i, axis = 0)
df

         ID name sex                  email  ...  第2次平時考  第3次平時考  第4次平時考  第5次平時考
0   1080001  丁軒軒   男  1080001@sun.tc.edu.tw  ...    88.0    82.0      87    92.0
1   1080002  王倫樺   女  1080002@sun.tc.edu.tw  ...   100.0    95.0      99    96.0
2   1080003  何宜敏   女  1080003@sun.tc.edu.tw  ...    87.0    86.0      82    82.0
3   1080004  何志陞   男  1080004@sun.tc.edu.tw  ...    92.0    99.0      91    92.0
4   1080005  吳ㄧ歌   女  1080005@sun.tc.edu.tw  ...     NaN    92.0      97    98.0
5   1080006  宋緯挺   男  1080006@sun.tc.edu.tw  ...    81.0    83.0      90    88.0
6   1080007  李宇綸   女  1080007@sun.tc.edu.tw  ...    76.0    89.0      87    85.0
8   1080009  杜以潔   女  1080009@sun.tc.edu.tw  ...    56.0    57.0      54    53.0
9   1080010  沈程隆   男  1080010@sun.tc.edu.tw  ...    77.0    84.0      86    83.0
10  1080011  沈慈惠   女  1080011@sun.tc.edu.tw  ...    84.0    90.0      87    92.0
12  1080013  林保苓   女  1080013@sun.tc.edu.tw  ...    94.0    99.0      96    94.0
13  1080014  林宏銘   男  1080014@sun.tc.edu.tw  ...    56.0    58.0      85    88.0
14  1080015  邱堂儀   女  1080015@sun.tc.edu.tw  ...    84.0    83.0      83    85.0
15  1080016  施帆蓉   女  1080016@sun.tc.edu.tw  ...    90.0    92.0      86    92.0
16  1080017  胡祥傑   男  1080017@sun.tc.edu.tw  ...    75.0    78.0      80    78.0
17  1080018  涂育婷   女  1080018@sun.tc.edu.tw  ...    77.0    80.0      87    85.0
18  1080019  高二戈   男  1080019@sun.tc.edu.tw  ...     NaN    77.0      88    83.0
19  1080020  高棋恩   男  1080020@sun.tc.edu.tw  ...    88.0    87.0      87    92.0
20  1080021  張暐惠   女  1080021@sun.tc.edu.tw  ...    89.0    83.0      85    84.0
21  1080022  梁承祐   男  1080022@sun.tc.edu.tw  ...    91.0    90.0      86    92.0
22  1080023  許喬廷   女  1080023@sun.tc.edu.tw  ...    87.0    86.0      85    86.0
23  1080024  許雅均   女  1080024@sun.tc.edu.tw  ...    89.0    96.0      97    98.0
24  1080025  許銘婷   女  1080025@sun.tc.edu.tw  ...    50.0    49.0      74    82.0
25  1080026  陳謙甄   女  1080026@sun.tc.edu.tw  ...    88.0    81.0      81    86.0
26  1080027  陳生貞   男  1080027@sun.tc.edu.tw  ...   100.0   100.0     100   100.0
27  1080028  陳宇愷   男  1080028@sun.tc.edu.tw  ...    92.0    93.0      94   100.0
28  1080029  陳杰育   男  1080029@sun.tc.edu.tw  ...    98.0    96.0      93    95.0
29  1080030  陳一潔   女  1080030@sun.tc.edu.tw  ...    90.0   100.0      97     NaN
30  1080031  陳瑁揚   男  1080031@sun.tc.edu.tw  ...    82.0    93.0      89    91.0
31  1080032  曾彥睿   男  1080032@sun.tc.edu.tw  ...    81.0    78.0      79    83.0
32  1080033  黃杰弘   男  1080033@sun.tc.edu.tw  ...    87.0    79.0      87    86.0
33  1080034  黃富穎   男  1080034@sun.tc.edu.tw  ...    88.0    96.0      99    93.0
34  1080035  詹宗喻   男  1080035@sun.tc.edu.tw  ...    87.0    89.0      88    89.0
35  1080036  廖安軒   女  1080036@sun.tc.edu.tw  ...    92.0    97.0      91    94.0
36  1080037  劉隆霖   男  1080037@sun.tc.edu.tw  ...    87.0    89.0      93    95.0
37  1080038  劉二婕   女  1080038@sun.tc.edu.tw  ...   100.0     NaN      92    95.0
38  1080039  蔡凌嘉   男  1080039@sun.tc.edu.tw  ...   100.0   100.0      94    95.0
39  1080040  謝穎安   男  1080040@sun.tc.edu.tw  ...    82.0    81.0      79    80.0

[38 rows x 9 columns]

# Step 04 儲存結果【學生成績檔-4-1.2-ANS.csv】

In [16]:
filename='學生成績檔-4-1.2-ANS.csv'       
df.to_csv(o_filepath + filename, index=False)

# 加深知識：reset_index

In [17]:
df1 = df.drop(2)
df1.head()

        ID name sex                  email  ...  第2次平時考  第3次平時考  第4次平時考  第5次平時考
0  1080001  丁軒軒   男  1080001@sun.tc.edu.tw  ...    88.0    82.0      87    92.0
1  1080002  王倫樺   女  1080002@sun.tc.edu.tw  ...   100.0    95.0      99    96.0
3  1080004  何志陞   男  1080004@sun.tc.edu.tw  ...    92.0    99.0      91    92.0
4  1080005  吳ㄧ歌   女  1080005@sun.tc.edu.tw  ...     NaN    92.0      97    98.0
5  1080006  宋緯挺   男  1080006@sun.tc.edu.tw  ...    81.0    83.0      90    88.0

[5 rows x 9 columns]

In [18]:
df1 = df1.reset_index()
df1.head()

   index       ID name sex  ... 第2次平時考  第3次平時考  第4次平時考  第5次平時考
0      0  1080001  丁軒軒   男  ...   88.0    82.0      87    92.0
1      1  1080002  王倫樺   女  ...  100.0    95.0      99    96.0
2      3  1080004  何志陞   男  ...   92.0    99.0      91    92.0
3      4  1080005  吳ㄧ歌   女  ...    NaN    92.0      97    98.0
4      5  1080006  宋緯挺   男  ...   81.0    83.0      90    88.0

[5 rows x 10 columns]

# 4-1-3 補上缺值

# 實作-空值資料檢查及補值【EX4-1.3.ipynb】

# Step 01

In [19]:
from google.colab import drive
drive.mount('/content/MyGoogleDrive')
import pandas as pd
df=pd.read_csv(i_filepath + '學生成績檔-4-1.3.csv')
df.info()

Drive already mounted at /content/MyGoogleDrive; to attempt to forcibly remount, call drive.mount("/content/MyGoogleDrive", force_remount=True).
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      38 non-null     int64
 1   name    38 non-null     object
 2   sex     38 non-null     object
 3   email   38 non-null     object
 4   第1次平時考  38 non-null     int64
 5   第2次平時考  36 non-null     float64
 6   第3次平時考  37 non-null     float64
 7   第4次平時考  38 non-null     int64
 8   第5次平時考  37 non-null     float64
dtypes: float64(3), int64(3), object(3)
memory usage: 2.8+ KB

In [ ]:
df1 = pd.isnull(df)
df1

       ID   name    sex  email  第1次平時考  第2次平時考  第3次平時考  第4次平時考  第5次平時考
0   False  False  False  False   False   False   False   False   False
1   False  False  False  False   False   False   False   False   False
2   False  False  False  False   False   False   False   False   False
3   False  False  False  False   False   False   False   False   False
4   False  False  False  False   False    True   False   False   False
5   False  False  False  False   False   False   False   False   False
6   False  False  False  False   False   False   False   False   False
7   False  False  False  False   False   False   False   False   False
8   False  False  False  False   False   False   False   False   False
9   False  False  False  False   False   False   False   False   False
10  False  False  False  False   False   False   False   False   False
11  False  False  False  False   False   False   False   False   False
12  False  False  False  False   False   False   False   False   False
13  False  False  False  False   False   False   False   False   False
14  False  False  False  False   False   False   False   False   False
15  False  False  False  False   False   False   False   False   False
16  False  False  False  False   False    True   False   False   False
17  False  False  False  False   False   False   False   False   False
18  False  False  False  False   False   False   False   False   False
19  False  False  False  False   False   False   False   False   False
20  False  False  False  False   False   False   False   False   False
21  False  False  False  False   False   False   False   False   False
22  False  False  False  False   False   False   False   False   False
23  False  False  False  False   False   False   False   False   False
24  False  False  False  False   False   False   False   False   False
25  False  False  False  False   False   False   False   False   False
26  False  False  False  False   False   False   False   False   False
27  False  False  False  False   False   False   False   False    True
28  False  False  False  False   False   False   False   False   False
29  False  False  False  False   False   False   False   False   False
30  False  False  False  False   False   False   False   False   False
31  False  False  False  False   False   False   False   False   False
32  False  False  False  False   False   False   False   False   False
33  False  False  False  False   False   False   False   False   False
34  False  False  False  False   False   False   False   False   False
35  False  False  False  False   False   False    True   False   False
36  False  False  False  False   False   False   False   False   False
37  False  False  False  False   False   False   False   False   False

# Step 02

In [20]:
x = df['第2次平時考'].mean()
df['第2次平時考'] = df['第2次平時考'].fillna(x)
df

         ID name sex                  email  ...      第2次平時考  第3次平時考  第4次平時考  第5次平時考
0   1080001  丁軒軒   男  1080001@sun.tc.edu.tw  ...   88.000000    82.0      87    92.0
1   1080002  王倫樺   女  1080002@sun.tc.edu.tw  ...  100.000000    95.0      99    96.0
2   1080003  何宜敏   女  1080003@sun.tc.edu.tw  ...   87.000000    86.0      82    82.0
3   1080004  何志陞   男  1080004@sun.tc.edu.tw  ...   92.000000    99.0      91    92.0
4   1080005  吳ㄧ歌   女  1080005@sun.tc.edu.tw  ...   85.138889    92.0      97    98.0
5   1080006  宋緯挺   男  1080006@sun.tc.edu.tw  ...   81.000000    83.0      90    88.0
6   1080007  李宇綸   女  1080007@sun.tc.edu.tw  ...   76.000000    89.0      87    85.0
7   1080009  杜以潔   女  1080009@sun.tc.edu.tw  ...   56.000000    57.0      54    53.0
8   1080010  沈程隆   男  1080010@sun.tc.edu.tw  ...   77.000000    84.0      86    83.0
9   1080011  沈慈惠   女  1080011@sun.tc.edu.tw  ...   84.000000    90.0      87    92.0
10  1080013  林保苓   女  1080013@sun.tc.edu.tw  ...   94.000000    99.0      96    94.0
11  1080014  林宏銘   男  1080014@sun.tc.edu.tw  ...   56.000000    58.0      85    88.0
12  1080015  邱堂儀   女  1080015@sun.tc.edu.tw  ...   84.000000    83.0      83    85.0
13  1080016  施帆蓉   女  1080016@sun.tc.edu.tw  ...   90.000000    92.0      86    92.0
14  1080017  胡祥傑   男  1080017@sun.tc.edu.tw  ...   75.000000    78.0      80    78.0
15  1080018  涂育婷   女  1080018@sun.tc.edu.tw  ...   77.000000    80.0      87    85.0
16  1080019  高二戈   男  1080019@sun.tc.edu.tw  ...   85.138889    77.0      88    83.0
17  1080020  高棋恩   男  1080020@sun.tc.edu.tw  ...   88.000000    87.0      87    92.0
18  1080021  張暐惠   女  1080021@sun.tc.edu.tw  ...   89.000000    83.0      85    84.0
19  1080022  梁承祐   男  1080022@sun.tc.edu.tw  ...   91.000000    90.0      86    92.0
20  1080023  許喬廷   女  1080023@sun.tc.edu.tw  ...   87.000000    86.0      85    86.0
21  1080024  許雅均   女  1080024@sun.tc.edu.tw  ...   89.000000    96.0      97    98.0
22  1080025  許銘婷   女  1080025@sun.tc.edu.tw  ...   50.000000    49.0      74    82.0
23  1080026  陳謙甄   女  1080026@sun.tc.edu.tw  ...   88.000000    81.0      81    86.0
24  1080027  陳生貞   男  1080027@sun.tc.edu.tw  ...  100.000000   100.0     100   100.0
25  1080028  陳宇愷   男  1080028@sun.tc.edu.tw  ...   92.000000    93.0      94   100.0
26  1080029  陳杰育   男  1080029@sun.tc.edu.tw  ...   98.000000    96.0      93    95.0
27  1080030  陳一潔   女  1080030@sun.tc.edu.tw  ...   90.000000   100.0      97     NaN
28  1080031  陳瑁揚   男  1080031@sun.tc.edu.tw  ...   82.000000    93.0      89    91.0
29  1080032  曾彥睿   男  1080032@sun.tc.edu.tw  ...   81.000000    78.0      79    83.0
30  1080033  黃杰弘   男  1080033@sun.tc.edu.tw  ...   87.000000    79.0      87    86.0
31  1080034  黃富穎   男  1080034@sun.tc.edu.tw  ...   88.000000    96.0      99    93.0
32  1080035  詹宗喻   男  1080035@sun.tc.edu.tw  ...   87.000000    89.0      88    89.0
33  1080036  廖安軒   女  1080036@sun.tc.edu.tw  ...   92.000000    97.0      91    94.0
34  1080037  劉隆霖   男  1080037@sun.tc.edu.tw  ...   87.000000    89.0      93    95.0
35  1080038  劉二婕   女  1080038@sun.tc.edu.tw  ...  100.000000     NaN      92    95.0
36  1080039  蔡凌嘉   男  1080039@sun.tc.edu.tw  ...  100.000000   100.0      94    95.0
37  1080040  謝穎安   男  1080040@sun.tc.edu.tw  ...   82.000000    81.0      79    80.0

[38 rows x 9 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      38 non-null     int64
 1   name    38 non-null     object
 2   sex     38 non-null     object
 3   email   38 non-null     object
 4   第1次平時考  38 non-null     int64
 5   第2次平時考  38 non-null     float64
 6   第3次平時考  37 non-null     float64
 7   第4次平時考  38 non-null     int64
 8   第5次平時考  37 non-null     float64
dtypes: float64(3), int64(3), object(3)
memory usage: 2.8+ KB

# Step 03

In [21]:
x = df['第3次平時考'].mean()
df['第3次平時考'] = df['第3次平時考'].fillna(x) 
x = df['第5次平時考'].mean()
df['第5次平時考'] = df['第5次平時考'].fillna(x) 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      38 non-null     int64
 1   name    38 non-null     object
 2   sex     38 non-null     object
 3   email   38 non-null     object
 4   第1次平時考  38 non-null     int64
 5   第2次平時考  38 non-null     float64
 6   第3次平時考  38 non-null     float64
 7   第4次平時考  38 non-null     int64
 8   第5次平時考  38 non-null     float64
dtypes: float64(3), int64(3), object(3)
memory usage: 2.8+ KB

# Step 04 儲存結果【學生成績檔-4-1.3-ANS.csv】

In [23]:
filename='學生成績檔-4-1.3-ANS.csv'       
df.to_csv(o_filepath + filename, index=False)

# 4-1-4 資料轉換

# 實作-資料轉換【EX4-1.4.ipynb】

# Step 01

In [ ]:
from google.colab import drive
drive.mount('/content/MyGoogleDrive')
import pandas as pd
df=pd.read_csv(i_filepath + '學生成績檔-4-1.4.csv')
df.head()

Drive already mounted at /content/MyGoogleDrive; to attempt to forcibly remount, call drive.mount("/content/MyGoogleDrive", force_remount=True).

        ID name sex                  email  ...      第2次平時考  第3次平時考  第4次平時考  第5次平時考
0  1080001  丁軒軒   男  1080001@sun.tc.edu.tw  ...   88.000000    82.0      87    92.0
1  1080002  王倫樺   女  1080002@sun.tc.edu.tw  ...  100.000000    95.0      99    96.0
2  1080003  何宜敏   女  1080003@sun.tc.edu.tw  ...   87.000000    86.0      82    82.0
3  1080004  何志陞   男  1080004@sun.tc.edu.tw  ...   92.000000    99.0      91    92.0
4  1080005  吳ㄧ歌   女  1080005@sun.tc.edu.tw  ...   85.138889    92.0      97    98.0

[5 rows x 9 columns]

# Step 02

In [ ]:
s = {'男': 1, '女':0} 
df['sex']=df['sex'].map(s)
df.head()

        ID name  sex                  email  ...      第2次平時考  第3次平時考  第4次平時考  第5次平時考
0  1080001  丁軒軒    1  1080001@sun.tc.edu.tw  ...   88.000000    82.0      87    92.0
1  1080002  王倫樺    0  1080002@sun.tc.edu.tw  ...  100.000000    95.0      99    96.0
2  1080003  何宜敏    0  1080003@sun.tc.edu.tw  ...   87.000000    86.0      82    82.0
3  1080004  何志陞    1  1080004@sun.tc.edu.tw  ...   92.000000    99.0      91    92.0
4  1080005  吳ㄧ歌    0  1080005@sun.tc.edu.tw  ...   85.138889    92.0      97    98.0

[5 rows x 9 columns]

# Step 03 儲存結果【學生成績檔-4-1.4-ANS.csv】

In [ ]:
filename='學生成績檔-4-1.4-ANS.csv'       
df.to_csv(o_filepath + filename, index=False)

# 4-2 資料框的資料處理

# 4-2-1 選取行資料

# 實作-以「自定索引」選取行資料【EX4-2.1.ipynb】

# Step 01

In [24]:
from google.colab import drive
drive.mount('/content/MyGoogleDrive')
import pandas as pd
df=pd.read_csv(i_filepath + '學生成績檔-4-2.1.csv')
df['第1次平時考'].head()

Drive already mounted at /content/MyGoogleDrive; to attempt to forcibly remount, call drive.mount("/content/MyGoogleDrive", force_remount=True).

0    86
1    92
2    82
3    91
4    93
Name: 第1次平時考, dtype: int64

# Step 02

In [25]:
df[['第1次平時考','第2次平時考','第3次平時考','第4次平時考','第5次平時考']].head()

   第1次平時考      第2次平時考  第3次平時考  第4次平時考  第5次平時考
0      86   88.000000    82.0      87    92.0
1      92  100.000000    95.0      99    96.0
2      82   87.000000    86.0      82    82.0
3      91   92.000000    99.0      91    92.0
4      93   85.138889    92.0      97    98.0

# 4-2-2 選取列資料

# 實作-選取單列/多列【EX4-2.2.ipynb】

# Step 01

In [26]:
from google.colab import drive
drive.mount('/content/MyGoogleDrive')
import pandas as pd
df=pd.read_csv(i_filepath + '學生成績檔-4-2.2.csv')
df[0:4]

Drive already mounted at /content/MyGoogleDrive; to attempt to forcibly remount, call drive.mount("/content/MyGoogleDrive", force_remount=True).

        ID name  sex                  email  ...  第2次平時考  第3次平時考  第4次平時考  第5次平時考
0  1080001  丁軒軒    1  1080001@sun.tc.edu.tw  ...    88.0    82.0      87    92.0
1  1080002  王倫樺    0  1080002@sun.tc.edu.tw  ...   100.0    95.0      99    96.0
2  1080003  何宜敏    0  1080003@sun.tc.edu.tw  ...    87.0    86.0      82    82.0
3  1080004  何志陞    1  1080004@sun.tc.edu.tw  ...    92.0    99.0      91    92.0

[4 rows x 9 columns]

# Step 02

In [27]:
df[5:6]

        ID name  sex                  email  ...  第2次平時考  第3次平時考  第4次平時考  第5次平時考
5  1080006  宋緯挺    1  1080006@sun.tc.edu.tw  ...    81.0    83.0      90    88.0

[1 rows x 9 columns]

# 4-2-3 選取指定的資料格

# 實作-使用iloc函式選取和修改指定資料格的值【EX4-2.3.ipynb】

# Step 01

In [ ]:
from google.colab import drive
drive.mount('/content/MyGoogleDrive')
import pandas as pd
df=pd.read_csv(i_filepath + '學生成績檔-4-2.3.csv')
df.head()
df.iloc[1,:]

Drive already mounted at /content/MyGoogleDrive; to attempt to forcibly remount, call drive.mount("/content/MyGoogleDrive", force_remount=True).

ID                      1080002
name                        王倫樺
sex                           0
email     1080002@sun.tc.edu.tw
第1次平時考                       92
第2次平時考                      100
第3次平時考                       95
第4次平時考                       99
第5次平時考                       96
Name: 1, dtype: object

# Step 02

In [28]:
df.iloc[1:4,:]

        ID name  sex                  email  ...  第2次平時考  第3次平時考  第4次平時考  第5次平時考
1  1080002  王倫樺    0  1080002@sun.tc.edu.tw  ...   100.0    95.0      99    96.0
2  1080003  何宜敏    0  1080003@sun.tc.edu.tw  ...    87.0    86.0      82    82.0
3  1080004  何志陞    1  1080004@sun.tc.edu.tw  ...    92.0    99.0      91    92.0

[3 rows x 9 columns]

# Step 03

In [29]:
df.iloc[1,4]

92

# Step 04

In [30]:
df.iloc[1,[1,4,6,8]]

name      王倫樺
第1次平時考     92
第3次平時考     95
第5次平時考     96
Name: 1, dtype: object

# Step 05

In [31]:
df.iloc[1,4] = 90
df.iloc[1,:]

ID                      1080002
name                        王倫樺
sex                           0
email     1080002@sun.tc.edu.tw
第1次平時考                       90
第2次平時考                      100
第3次平時考                       95
第4次平時考                       99
第5次平時考                       96
Name: 1, dtype: object

# Step 06

In [ ]:
df.iloc[1,5:9] = 0
df.iloc[1,:]

ID                      1080002
name                        王倫樺
sex                           0
email     1080002@sun.tc.edu.tw
第1次平時考                       90
第2次平時考                        0
第3次平時考                        0
第4次平時考                        0
第5次平時考                        0
Name: 1, dtype: object

# Step 07 儲存結果【學生成績檔-4-2.3-ANS.csv】

In [ ]:
filename='學生成績檔-4-2.3-ANS.csv'       
df.to_csv(o_filepath + filename, index=False)

# 4-2-4 條件式選取

# 實作-篩選符合條件的資料【EX4-2.4.ipynb】

# Step 01

In [32]:
from google.colab import drive
drive.mount('/content/MyGoogleDrive')
import pandas as pd
df=pd.read_csv(i_filepath + '學生成績檔-4-2.4.csv')
df[df['第1次平時考']>=90].head()

Drive already mounted at /content/MyGoogleDrive; to attempt to forcibly remount, call drive.mount("/content/MyGoogleDrive", force_remount=True).

         ID name  sex  ... 第3次平時考  第4次平時考  第5次平時考
1   1080002  王倫樺    0  ...   95.0      99    96.0
3   1080004  何志陞    1  ...   99.0      91    92.0
4   1080005  吳ㄧ歌    0  ...   92.0      97    98.0
10  1080013  林保苓    0  ...   99.0      96    94.0
21  1080024  許雅均    0  ...   96.0      97    98.0

[5 rows x 9 columns]

# Step 02

In [33]:
 df[df['第1次平時考'] < 60].name

7     杜以潔
22    許銘婷
Name: name, dtype: object

# Step 03

In [34]:
df[(df['第1次平時考']>95) & (df['第2次平時考']>95) & (df['第3次平時考']>95) & (df['第4次平時考']>95) & (df['第5次平時考']>95)].name

24    陳生貞
Name: name, dtype: object

# Step 04

In [ ]:
df[df['name'] == '陳生貞']

         ID name  sex                  email  ...  第2次平時考  第3次平時考  第4次平時考  第5次平時考
24  1080027  陳生貞    1  1080027@sun.tc.edu.tw  ...   100.0   100.0     100   100.0

[1 rows x 9 columns]

# Step 05

In [35]:
df[(df['第1次平時考']>=90) | (df['第3次平時考']>=95)]

         ID name  sex  ...      第3次平時考  第4次平時考      第5次平時考
1   1080002  王倫樺    0  ...   95.000000      99   96.000000
3   1080004  何志陞    1  ...   99.000000      91   92.000000
4   1080005  吳ㄧ歌    0  ...   92.000000      97   98.000000
10  1080013  林保苓    0  ...   99.000000      96   94.000000
21  1080024  許雅均    0  ...   96.000000      97   98.000000
24  1080027  陳生貞    1  ...  100.000000     100  100.000000
25  1080028  陳宇愷    1  ...   93.000000      94  100.000000
26  1080029  陳杰育    1  ...   96.000000      93   95.000000
27  1080030  陳一潔    0  ...  100.000000      97   88.702703
31  1080034  黃富穎    1  ...   96.000000      99   93.000000
33  1080036  廖安軒    0  ...   97.000000      91   94.000000
34  1080037  劉隆霖    1  ...   89.000000      93   95.000000
35  1080038  劉二婕    0  ...   86.135135      92   95.000000
36  1080039  蔡凌嘉    1  ...  100.000000      94   95.000000

[14 rows x 9 columns]

# 4-2-5 排序

# 實作-排序【EX4-2.5.ipynb】

# Step 01

In [36]:
from google.colab import drive
drive.mount('/content/MyGoogleDrive')
import pandas as pd
df=pd.read_csv(i_filepath + '學生成績檔-4-2.5.csv')
df = df.sort_index(ascending=False)
df.head()

Drive already mounted at /content/MyGoogleDrive; to attempt to forcibly remount, call drive.mount("/content/MyGoogleDrive", force_remount=True).

         ID name  sex  ...      第3次平時考  第4次平時考  第5次平時考
37  1080040  謝穎安    1  ...   81.000000      79    80.0
36  1080039  蔡凌嘉    1  ...  100.000000      94    95.0
35  1080038  劉二婕    0  ...   86.135135      92    95.0
34  1080037  劉隆霖    1  ...   89.000000      93    95.0
33  1080036  廖安軒    0  ...   97.000000      91    94.0

[5 rows x 9 columns]

# Step 02

In [ ]:
df1 = df.sort_values('第1次平時考')
df1.head()

         ID name  sex                  email  ...  第2次平時考  第3次平時考  第4次平時考  第5次平時考
22  1080025  許銘婷    0  1080025@sun.tc.edu.tw  ...    50.0    49.0      74    82.0
7   1080009  杜以潔    0  1080009@sun.tc.edu.tw  ...    56.0    57.0      54    53.0
11  1080014  林宏銘    1  1080014@sun.tc.edu.tw  ...    56.0    58.0      85    88.0
14  1080017  胡祥傑    1  1080017@sun.tc.edu.tw  ...    75.0    78.0      80    78.0
37  1080040  謝穎安    1  1080040@sun.tc.edu.tw  ...    82.0    81.0      79    80.0

[5 rows x 9 columns]

# 加廣知識：多行排序

In [37]:
df = df.sort_values(['第3次平時考', '第1次平時考'], ascending=False)
df.head()

         ID name  sex  ... 第3次平時考  第4次平時考      第5次平時考
24  1080027  陳生貞    1  ...  100.0     100  100.000000
36  1080039  蔡凌嘉    1  ...  100.0      94   95.000000
27  1080030  陳一潔    0  ...  100.0      97   88.702703
10  1080013  林保苓    0  ...   99.0      96   94.000000
3   1080004  何志陞    1  ...   99.0      91   92.000000

[5 rows x 9 columns]

# 4-2-6 計算 最大/最小/平均數/總和

# 實作-max, min, mean, sum【EX4-2.6.ipynb】

# Step 01

In [38]:
from google.colab import drive
drive.mount('/content/MyGoogleDrive')
import pandas as pd
df=pd.read_csv(i_filepath + '學生成績檔-4-2.6.csv')
df['第1次平時考'].max()

Drive already mounted at /content/MyGoogleDrive; to attempt to forcibly remount, call drive.mount("/content/MyGoogleDrive", force_remount=True).

97

In [39]:
df['第1次平時考'].min()

52

# Step 02

In [40]:
c = ['第1次平時考','第2次平時考','第3次平時考','第4次平時考','第5次平時考']
df[c].sum()

第1次平時考    3212.000000
第2次平時考    3235.277778
第3次平時考    3273.135135
第4次平時考    3335.000000
第5次平時考    3370.702703
dtype: float64

In [41]:
df[c].mean()

第1次平時考    84.526316
第2次平時考    85.138889
第3次平時考    86.135135
第4次平時考    87.763158
第5次平時考    88.702703
dtype: float64

# Step 03

In [ ]:
df[c].mean(axis='columns')

0     87.000000
1     96.400000
2     83.800000
3     93.000000
4     93.027778
5     85.200000
6     83.800000
7     54.600000
8     82.200000
9     88.000000
10    95.000000
11    69.400000
12    83.600000
13    89.400000
14    77.600000
15    82.000000
16    82.627778
17    88.400000
18    85.000000
19    89.200000
20    85.800000
21    94.400000
22    61.400000
23    83.600000
24    99.400000
25    94.600000
26    94.400000
27    93.940541
28    88.400000
29    79.800000
30    84.400000
31    93.800000
32    88.000000
33    93.000000
34    91.000000
35    93.427027
36    96.600000
37    80.000000
dtype: float64

# 4-2-7 新增行資料

# 實作-新增行資料【EX4-2.7.ipynb】

# Step 01

In [42]:
from google.colab import drive
drive.mount('/content/MyGoogleDrive')
import pandas as pd
df=pd.read_csv(i_filepath + '學生成績檔-4-2.7.csv')
c = ['第1次平時考','第2次平時考','第3次平時考','第4次平時考','第5次平時考']
df['總分'] = df[c].sum(axis='columns')
df.head()

Drive already mounted at /content/MyGoogleDrive; to attempt to forcibly remount, call drive.mount("/content/MyGoogleDrive", force_remount=True).

        ID name  sex                  email  ...  第3次平時考  第4次平時考  第5次平時考          總分
0  1080001  丁軒軒    1  1080001@sun.tc.edu.tw  ...    82.0      87    92.0  435.000000
1  1080002  王倫樺    0  1080002@sun.tc.edu.tw  ...    95.0      99    96.0  482.000000
2  1080003  何宜敏    0  1080003@sun.tc.edu.tw  ...    86.0      82    82.0  419.000000
3  1080004  何志陞    1  1080004@sun.tc.edu.tw  ...    99.0      91    92.0  465.000000
4  1080005  吳ㄧ歌    0  1080005@sun.tc.edu.tw  ...    92.0      97    98.0  465.138889

[5 rows x 10 columns]

# Step 02

In [43]:
df['平均'] = df[c].mean(axis='columns')
df.head()

        ID name  sex  ... 第5次平時考          總分         平均
0  1080001  丁軒軒    1  ...   92.0  435.000000  87.000000
1  1080002  王倫樺    0  ...   96.0  482.000000  96.400000
2  1080003  何宜敏    0  ...   82.0  419.000000  83.800000
3  1080004  何志陞    1  ...   92.0  465.000000  93.000000
4  1080005  吳ㄧ歌    0  ...   98.0  465.138889  93.027778

[5 rows x 11 columns]

# Step 03

In [44]:
df = df.sort_values('平均',ascending=False)
df['排名'] = list(range(1,len(df)+1)) 
df.head()

         ID name  sex                  email  ...  第5次平時考     總分    平均  排名
24  1080027  陳生貞    1  1080027@sun.tc.edu.tw  ...   100.0  497.0  99.4   1
36  1080039  蔡凌嘉    1  1080039@sun.tc.edu.tw  ...    95.0  483.0  96.6   2
1   1080002  王倫樺    0  1080002@sun.tc.edu.tw  ...    96.0  482.0  96.4   3
10  1080013  林保苓    0  1080013@sun.tc.edu.tw  ...    94.0  475.0  95.0   4
25  1080028  陳宇愷    1  1080028@sun.tc.edu.tw  ...   100.0  473.0  94.6   5

[5 rows x 12 columns]

# Step 04

In [45]:
df[df.排名 <= 3]

         ID name  sex                  email  ...  第5次平時考     總分    平均  排名
24  1080027  陳生貞    1  1080027@sun.tc.edu.tw  ...   100.0  497.0  99.4   1
36  1080039  蔡凌嘉    1  1080039@sun.tc.edu.tw  ...    95.0  483.0  96.6   2
1   1080002  王倫樺    0  1080002@sun.tc.edu.tw  ...    96.0  482.0  96.4   3

[3 rows x 12 columns]

# Step 05 儲存結果【學生成績檔-4-2.7-ANS.csv】

In [47]:
filename='學生成績檔-4-2.7-ANS.csv'  
df.to_csv(o_filepath + filename, index=False)

# 4-2-8 新增列資料

# 實作-新增列資料【EX4-2.8.ipynb】

# Step 01

In [49]:
from google.colab import drive
drive.mount('/content/MyGoogleDrive')
import pandas as pd
df=pd.read_csv(i_filepath + '學生成績檔-4-2.8.csv')
df.tail()

Drive already mounted at /content/MyGoogleDrive; to attempt to forcibly remount, call drive.mount("/content/MyGoogleDrive", force_remount=True).

         ID name  sex  ...      第3次平時考  第4次平時考  第5次平時考
33  1080036  廖安軒    0  ...   97.000000      91    94.0
34  1080037  劉隆霖    1  ...   89.000000      93    95.0
35  1080038  劉二婕    0  ...   86.135135      92    95.0
36  1080039  蔡凌嘉    1  ...  100.000000      94    95.0
37  1080040  謝穎安    1  ...   81.000000      79    80.0

[5 rows x 9 columns]

# Step 02

In [50]:
s = ['1080041', '張三', '1', '1080041@sun.tc.edu.tw',90, 85, 90, 95, 95]
df1 = pd.DataFrame(data=[s], columns=df.columns)
df = df.append(df1, ignore_index=True)
df.tail()

         ID name sex                  email  ...  第2次平時考      第3次平時考  第4次平時考  第5次平時考
34  1080037  劉隆霖   1  1080037@sun.tc.edu.tw  ...    87.0   89.000000      93    95.0
35  1080038  劉二婕   0  1080038@sun.tc.edu.tw  ...   100.0   86.135135      92    95.0
36  1080039  蔡凌嘉   1  1080039@sun.tc.edu.tw  ...   100.0  100.000000      94    95.0
37  1080040  謝穎安   1  1080040@sun.tc.edu.tw  ...    82.0   81.000000      79    80.0
38  1080041   張三   1  1080041@sun.tc.edu.tw  ...    85.0   90.000000      95    95.0

[5 rows x 9 columns]

# Step 03

In [51]:
c = ['第1次平時考','第2次平時考','第3次平時考','第4次平時考','第5次平時考']
df['總分'] = df[c].sum(axis='columns')
df['平均'] = df[c].mean(axis='columns')
df = df.sort_values('平均',ascending=False)
df['排名'] = list(range(1,len(df)+1)) 
df['ID'] = df.ID.astype(str)
df = df.sort_values(['ID'], ascending=True)
df.head()

        ID name sex                  email  ...  第5次平時考          總分         平均  排名
0  1080001  丁軒軒   1  1080001@sun.tc.edu.tw  ...    92.0  435.000000  87.000000  22
1  1080002  王倫樺   0  1080002@sun.tc.edu.tw  ...    96.0  482.000000  96.400000   3
2  1080003  何宜敏   0  1080003@sun.tc.edu.tw  ...    82.0  419.000000  83.800000  27
3  1080004  何志陞   1  1080004@sun.tc.edu.tw  ...    92.0  465.000000  93.000000  12
4  1080005  吳ㄧ歌   0  1080005@sun.tc.edu.tw  ...    98.0  465.138889  93.027778  11

[5 rows x 12 columns]

# Step 04 儲存結果【學生成績檔-4-2.8-ANS.csv】

In [53]:
filename='學生成績檔-4-2.8-ANS.csv'       
df.to_csv(o_filepath + filename, index=False)

#加廣知識：資料型態

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39 entries, 0 to 38
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      39 non-null     object
 1   name    39 non-null     object
 2   sex     39 non-null     object
 3   email   39 non-null     object
 4   第1次平時考  39 non-null     int64
 5   第2次平時考  39 non-null     float64
 6   第3次平時考  39 non-null     float64
 7   第4次平時考  39 non-null     int64
 8   第5次平時考  39 non-null     float64
 9   總分      39 non-null     float64
 10  平均      39 non-null     float64
 11  排名      39 non-null     int64
dtypes: float64(5), int64(3), object(4)
memory usage: 4.0+ KB