# [汽车排程问题](http://support.sas.com/documentation/cdl/en/orcpug/63973/HTML/default/viewer.htm#orcpug_clp_sect044.htm)

一定数量的汽车需要在一条装配线上进行装配，每个汽车有不同的装配选项，例如空调、导航等。装配线依次通过多个安装不同选项的装配点，每个装配点需要一定的时间完成一个装配项目的装配，装备所需要的时间使用汽车的间隔数标准化，例如空调的装配每两辆车能装配一辆车。

所谓汽车排序问题就是找到一个装配线上排列顺序，使得它满足每个装配点间隔要求。在下表中，一共有5个装配选项，每个装配选项所需的工作时间由`m/N`指定，即每`N`辆车能够装配`m`个。例如`Option 2`的`m/N`为`2/3`表示每3辆车能够装配两个。`Car Class`为车型，本例中有6种车型，表中列出了每个车型对应的装配选项。例如`Car Class 4`需要装配`Option 2`和`Option 4`。最后`Number of Cars`给出了每种车型的数量。

<table id="orcpug.clp.instdata" cellpadding="1" cellspacing="0" class="tabular">
<tbody><tr>
<th style="border-top-style:solid; border-top-color:black; border-top-width:1px; text-align:center" colspan="2"><p> Option </p></th>
<th style="border-top-style:solid; border-top-color:black; border-top-width:1px; text-align:center"><p> Capacity </p></th>
<th style="border-top-style:solid; border-top-color:black; border-top-width:1px; text-align:center" colspan="6"><p> Car Class </p></th>
</tr>
<tr>
<th style="text-align:center"><p>Name </p></th>
<th style="text-align:center"><p> Type </p></th>
<th style="text-align:center"><p> m/N </p></th>
<th style="text-align:center"><p> 1 </p></th>
<th style="text-align:center"><p> 2 </p></th>
<th style="text-align:center"><p> 3 </p></th>
<th style="text-align:center"><p> 4 </p></th>
<th style="text-align:center"><p> 5 </p></th>
<th style="text-align:center"><p> 6 </p></th>
</tr>
<tr>
<td style="border-top-style:solid; border-top-color:black; border-top-width:1px; text-align:center"><p>Option 1 </p></td>
<td style="border-top-style:solid; border-top-color:black; border-top-width:1px; text-align:center"><p> 1 </p></td>
<td style="border-top-style:solid; border-top-color:black; border-top-width:1px; text-align:center"><p> 1/2 </p></td>
<td style="border-top-style:solid; border-top-color:black; border-top-width:1px; text-align:center"><p> 1 </p></td>
<td style="border-top-style:solid; border-top-color:black; border-top-width:1px; text-align:center"><p> 0 </p></td>
<td style="border-top-style:solid; border-top-color:black; border-top-width:1px; text-align:center"><p> 0 </p></td>
<td style="border-top-style:solid; border-top-color:black; border-top-width:1px; text-align:center"><p> 0 </p></td>
<td style="border-top-style:solid; border-top-color:black; border-top-width:1px; text-align:center"><p> 1 </p></td>
<td style="border-top-style:solid; border-top-color:black; border-top-width:1px; text-align:center"><p> 1 </p></td>
</tr>
<tr>
<td style="text-align:center"><p>Option 2 </p></td>
<td style="text-align:center"><p> 2 </p></td>
<td style="text-align:center"><p> 2/3 </p></td>
<td style="text-align:center"><p> 0 </p></td>
<td style="text-align:center"><p> 0 </p></td>
<td style="text-align:center"><p> 1 </p></td>
<td style="text-align:center"><p> 1 </p></td>
<td style="text-align:center"><p> 0 </p></td>
<td style="text-align:center"><p> 1 </p></td>
</tr>
<tr>
<td style="text-align:center"><p>Option 3 </p></td>
<td style="text-align:center"><p> 3 </p></td>
<td style="text-align:center"><p> 1/3 </p></td>
<td style="text-align:center"><p> 1 </p></td>
<td style="text-align:center"><p> 0 </p></td>
<td style="text-align:center"><p> 0 </p></td>
<td style="text-align:center"><p> 0 </p></td>
<td style="text-align:center"><p> 1 </p></td>
<td style="text-align:center"><p> 0 </p></td>
</tr>
<tr>
<td style="text-align:center"><p>Option 4 </p></td>
<td style="text-align:center"><p> 4 </p></td>
<td style="text-align:center"><p> 2/5 </p></td>
<td style="text-align:center"><p> 1 </p></td>
<td style="text-align:center"><p> 1 </p></td>
<td style="text-align:center"><p> 0 </p></td>
<td style="text-align:center"><p> 1 </p></td>
<td style="text-align:center"><p> 0 </p></td>
<td style="text-align:center"><p> 0 </p></td>
</tr>
<tr>
<td style="text-align:center"><p>Option 5 </p></td>
<td style="text-align:center"><p> 5 </p></td>
<td style="text-align:center"><p> 1/5 </p></td>
<td style="text-align:center"><p> 0 </p></td>
<td style="text-align:center"><p> 0 </p></td>
<td style="text-align:center"><p> 1 </p></td>
<td style="text-align:center"><p> 0 </p></td>
<td style="text-align:center"><p> 0 </p></td>
<td style="text-align:center"><p> 0 </p></td>
</tr>
<tr>
<th style="border-top-style:solid; border-bottom-style:solid; text-align:center; border-bottom-width:1px; border-top-color:black; border-top-width:1px; border-bottom-color:black" colspan="3"><p>Number of Cars </p></th>
<th style="border-top-style:solid; border-bottom-style:solid; text-align:center; border-bottom-width:1px; border-top-color:black; border-top-width:1px; border-bottom-color:black"><p> 1 </p></th>
<th style="border-top-style:solid; border-bottom-style:solid; text-align:center; border-bottom-width:1px; border-top-color:black; border-top-width:1px; border-bottom-color:black"><p> 1 </p></th>
<th style="border-top-style:solid; border-bottom-style:solid; text-align:center; border-bottom-width:1px; border-top-color:black; border-top-width:1px; border-bottom-color:black"><p> 2 </p></th>
<th style="border-top-style:solid; border-bottom-style:solid; text-align:center; border-bottom-width:1px; border-top-color:black; border-top-width:1px; border-bottom-color:black"><p> 2 </p></th>
<th style="border-top-style:solid; border-bottom-style:solid; text-align:center; border-bottom-width:1px; border-top-color:black; border-top-width:1px; border-bottom-color:black"><p> 2 </p></th>
<th style="border-top-style:solid; border-bottom-style:solid; text-align:center; border-bottom-width:1px; border-top-color:black; border-top-width:1px; border-bottom-color:black"><p> 2</p></th>
</tr>
</tbody></table>

In [1]:
from ortools.constraint_solver import pywrapcp
from itertools import chain
from IPython.display import display_html
import numpy as np

下面首先定义前表中的各种数据。

In [2]:
n_car_types = 6
n_options = 5
car_demand = [1, 1, 2, 2, 2, 2]
n_slots = sum(car_demand)

car_types = list(range(n_car_types))
options = list(range(n_options))
slots = list(range(n_slots))

car_option = [
#car 0  1  2  3  4  5
    [1, 0, 0, 0, 1, 1],  # option 1
    [0, 0, 1, 1, 0, 1],  # option 2
    [1, 0, 0, 0, 1, 0],  # option 3
    [1, 1, 0, 1, 0, 0],  # option 4
    [0, 0, 1, 0, 0, 0]   # option 5
]

option_car = list(zip(*car_option))

capacity = [
  (1, 2),
  (2, 3),
  (1, 3),
  (2, 5),
  (1, 5)
]

为了方便后续添加约束条件，`vars_all`是一个嵌套列表，其中的每个元素是表示每个时隙(slot)对应的汽车型号的布尔变量列表，该列表的长度为汽车型号数。

In [3]:
solver = pywrapcp.Solver("Car sequence")
vars_all = [[solver.IntVar(0, 1, "slot[%d, %d]" % (i, j)) for j in car_types] for i in slots]
vars_all_flat = list(chain.from_iterable(vars_all))

`vars_all`中的每个列表中的所有变量中，有且只有一个变量为`1`。

In [4]:
for vars_slot in vars_all:
    solver.Add(solver.Sum(vars_slot) == 1)

每种型号出现的次数应该等于`demand`，这里使用`zip(*vars_all)`对`vars_all`进行转置，得到嵌套列表长度为`n_car_types`，每个元素是一个长度为`n_slots`的列表，表示每个时隙是否为某种型号。

In [5]:
for vars_type, demand in zip(zip(*vars_all), car_demand):
    solver.Add(solver.Sum(vars_type) == demand)

对于每个选项，添加`capacity`的约束条件：连续`N`个时隙中只能最多出现`m`次。这里对所有可能的连续`N`时隙进行循环，将每个时隙上汽车型号通过`car_option`转换为其对应的选项，并添加进`vars_option`中。`vars_option`中所有变量的和就是该型号出现的次数。

In [6]:
for i, option in enumerate(car_option):
    m, N = capacity[i]
    for start in range(n_slots - N + 1):
        vars_option = []
        for vars_ in vars_all[start:start + N]:
            vars_option.extend([v for k, v in enumerate(vars_) if option[k]])
        solver.Add(solver.Sum(vars_option) <= m)

下面计算所有的解，并将得到的布尔数组转换为其对应的型号，以及每个型号对应的选项。由结果可知，`Opt0`连续2个时隙一个为1，`Opt1`连续3个时隙最多只有两个为1，它们都满足`capacity`给定的约束条件。

In [7]:
import pandas as pd
db = solver.Phase(vars_all_flat,
                    solver.CHOOSE_FIRST_UNBOUND,
                    solver.ASSIGN_MIN_VALUE)

solver.NewSearch(db)
columns = ["S%d" % s for s in slots]
index = ["Type"] + ["Opt%d" % o for o in options]

while solver.NextSolution():
    solution = [[v.Value() for v in vars_slot].index(1) for vars_slot in vars_all]
    option_seq = [option_car[c] for c in solution]
    data = np.vstack((solution, np.array(option_seq).T))
    df = pd.DataFrame(data, index=index, columns=columns)
    display_html(df)
solver.EndSearch()

,S0,S1,S2,S3,S4,S5,S6,S7,S8,S9
Type,5,3,4,2,3,4,1,5,2,0
Opt0,1,0,1,0,0,1,0,1,0,1
Opt1,1,1,0,1,1,0,0,1,1,0
Opt2,0,0,1,0,0,1,0,0,0,1
Opt3,0,1,0,0,1,0,1,0,0,1
Opt4,0,0,0,1,0,0,0,0,1,0

,S0,S1,S2,S3,S4,S5,S6,S7,S8,S9
Type,5,2,4,3,3,4,2,5,1,0
Opt0,1,0,1,0,0,1,0,1,0,1
Opt1,1,1,0,1,1,0,1,1,0,0
Opt2,0,0,1,0,0,1,0,0,0,1
Opt3,0,0,0,1,1,0,0,0,1,1
Opt4,0,1,0,0,0,0,1,0,0,0

,S0,S1,S2,S3,S4,S5,S6,S7,S8,S9
Type,4,3,2,4,3,5,1,5,2,0
Opt0,1,0,0,1,0,1,0,1,0,1
Opt1,0,1,1,0,1,1,0,1,1,0
Opt2,1,0,0,1,0,0,0,0,0,1
Opt3,0,1,0,0,1,0,1,0,0,1
Opt4,0,0,1,0,0,0,0,0,1,0

,S0,S1,S2,S3,S4,S5,S6,S7,S8,S9
Type,0,2,5,1,5,3,4,2,3,4
Opt0,1,0,1,0,1,0,1,0,0,1
Opt1,0,1,1,0,1,1,0,1,1,0
Opt2,1,0,0,0,0,0,1,0,0,1
Opt3,1,0,0,1,0,1,0,0,1,0
Opt4,0,1,0,0,0,0,0,1,0,0

,S0,S1,S2,S3,S4,S5,S6,S7,S8,S9
Type,0,2,5,1,4,3,2,4,3,5
Opt0,1,0,1,0,1,0,0,1,0,1
Opt1,0,1,1,0,0,1,1,0,1,1
Opt2,1,0,0,0,1,0,0,1,0,0
Opt3,1,0,0,1,0,1,0,0,1,0
Opt4,0,1,0,0,0,0,1,0,0,0

,S0,S1,S2,S3,S4,S5,S6,S7,S8,S9
Type,0,1,5,2,4,3,3,4,2,5
Opt0,1,0,1,0,1,0,0,1,0,1
Opt1,0,0,1,1,0,1,1,0,1,1
Opt2,1,0,0,0,1,0,0,1,0,0
Opt3,1,1,0,0,0,1,1,0,0,0
Opt4,0,0,0,1,0,0,0,0,1,0