In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("missing_data.csv")
df

     A    B    C    D
0  0.5  0.9  0.4  NaN
1  0.8  0.6  NaN  NaN
2  0.7  0.3  0.8  0.9
3  0.8  0.3  NaN  0.2
4  0.9  NaN  0.7  0.3
5  0.2  0.7  0.6  NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       6 non-null      float64
 1   B       5 non-null      float64
 2   C       4 non-null      float64
 3   D       3 non-null      float64
dtypes: float64(4)
memory usage: 320.0 bytes

In [4]:
df1 = df.dropna()
df1

     A    B    C    D
2  0.7  0.3  0.8  0.9

In [5]:
df2 = df.dropna(how="any")
df2

     A    B    C    D
2  0.7  0.3  0.8  0.9

In [6]:
df3 = df.dropna(subset=["B", "C"])
df3

     A    B    C    D
0  0.5  0.9  0.4  NaN
2  0.7  0.3  0.8  0.9
5  0.2  0.7  0.6  NaN

In [7]:
df4 = df.fillna(value=1)
df4

     A    B    C    D
0  0.5  0.9  0.4  1.0
1  0.8  0.6  1.0  1.0
2  0.7  0.3  0.8  0.9
3  0.8  0.3  1.0  0.2
4  0.9  1.0  0.7  0.3
5  0.2  0.7  0.6  1.0

In [8]:
df["B"] = df["B"].fillna(df["B"].mean())
df

     A     B    C    D
0  0.5  0.90  0.4  NaN
1  0.8  0.60  NaN  NaN
2  0.7  0.30  0.8  0.9
3  0.8  0.30  NaN  0.2
4  0.9  0.56  0.7  0.3
5  0.2  0.70  0.6  NaN