In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("labelencoder_data.csv")
df

          Gender Size  Price
0           male   XL    800
1         female    M    400
2  not specified  XXL    300
3           male    L    500
4         female    S    700
5         female   XS    850

In [3]:
from sklearn import preprocessing

label_encoder = preprocessing.LabelEncoder()
df["Gender"] = label_encoder.fit_transform(df["Gender"])
df

   Gender Size  Price
0       1   XL    800
1       0    M    400
2       2  XXL    300
3       1    L    500
4       0    S    700
5       0   XS    850