In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("duplicated_data.csv")
df

     A    B    C    D
0  0.7  0.3  0.8  0.9
1  0.8  0.6  0.4  0.8
2  0.7  0.3  0.8  0.9
3  0.8  0.3  0.5  0.2
4  0.9  0.3  0.7  0.3
5  0.7  0.3  0.8  0.9

In [3]:
df.duplicated()

0    False
1    False
2     True
3    False
4    False
5     True
dtype: bool

In [4]:
df.duplicated("B")

0    False
1    False
2     True
3     True
4     True
5     True
dtype: bool

In [5]:
df1 = df.drop_duplicates()
df1

     A    B    C    D
0  0.7  0.3  0.8  0.9
1  0.8  0.6  0.4  0.8
3  0.8  0.3  0.5  0.2
4  0.9  0.3  0.7  0.3

In [6]:
df2 = df.drop_duplicates("B")
df2

     A    B    C    D
0  0.7  0.3  0.8  0.9
1  0.8  0.6  0.4  0.8

In [7]:
df3 = df.drop_duplicates("B", keep=False)
df3

     A    B    C    D
1  0.8  0.6  0.4  0.8