In [3]:
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
import pandas as pd

text =[u"小贝来到北京清华大学", 
        u"小花来到了网易杭研大厦",   
        u"小明硕士毕业于中国科学院",
        u"小明爱北京小明爱北京天安门"
]
               
corpus=[u"小贝 来到 北京 清华大学", 
        u"小花 来到 了 网易 杭研 大厦",   
        u"小明 硕士 毕业 于 中国 科学院",
        u"小明 爱 北京 小明 爱 北京 天安门"
]

In [4]:
text =[u"小贝来到北京清华大学", 
        u"小花来到了网易杭研大厦",   
        u"小明硕士毕业于中国科学院",
        u"小明爱北京小明爱北京天安门"
]
               
corpus=[u"小贝 来到 北京 清华大学", 
        u"小花 来到 了 网易 杭研 大厦",   
        u"小明 硕士 毕业 于 中国 科学院",
        u"小明 爱 北京 小明 爱 北京 天安门"
]

## 二值化、词频

In [16]:
vectorizer = CountVectorizer(min_df=1,binary=False)
data = vectorizer.fit_transform(corpus)
features = vectorizer.get_feature_names()

for id,feature in enumerate(features):
    print id,':',feature

0 : 中国
1 : 北京
2 : 大厦
3 : 天安门
4 : 小明
5 : 小花
6 : 小贝
7 : 来到
8 : 杭研
9 : 毕业
10 : 清华大学
11 : 硕士
12 : 科学院
13 : 网易

In [8]:
vectorizer.stop_words_

set()

In [9]:
for feature,id in vectorizer.vocabulary_.items() :
     print feature,id

小明 4
网易 13
杭研 8
毕业 9
北京 1
清华大学 10
来到 7
大厦 2
小贝 6
小花 5
硕士 11
中国 0
天安门 3
科学院 12

In [10]:
doc_df = pd.DataFrame(data.toarray(), index=text, columns=vectorizer.get_feature_names()).head(10)
doc_df

               中国  北京  大厦  天安门  小明  小花  小贝  来到  杭研  毕业  清华大学  硕士  科学院  网易
小贝来到北京清华大学      0   1   0    0   0   0   1   1   0   0     1   0    0   0
小花来到了网易杭研大厦     0   0   1    0   0   1   0   1   1   0     0   0    0   1
小明硕士毕业于中国科学院    1   0   0    0   1   0   0   0   0   1     0   1    1   0
小明爱北京小明爱北京天安门   0   2   0    1   2   0   0   0   0   0     0   0    0   0

In [50]:
from sklearn.metrics.pairwise import cosine_similarity
cos_sims = cosine_similarity(doc_df)

In [51]:
cos_sims

array([[1.        , 0.2236068 , 0.        , 0.28867513],
       [0.2236068 , 1.        , 0.        , 0.        ],
       [0.        , 0.        , 1.        , 0.25819889],
       [0.28867513, 0.        , 0.25819889, 1.        ]])

In [57]:
sims_df = pd.DataFrame(cos_sims, index = text, columns = text)

In [58]:
sims_df

               小贝来到北京清华大学  小花来到了网易杭研大厦  小明硕士毕业于中国科学院  小明爱北京小明爱北京天安门
小贝来到北京清华大学       1.000000     0.223607      0.000000       0.288675
小花来到了网易杭研大厦      0.223607     1.000000      0.000000       0.000000
小明硕士毕业于中国科学院     0.000000     0.000000      1.000000       0.258199
小明爱北京小明爱北京天安门    0.288675     0.000000      0.258199       1.000000

## tf-idf

In [11]:
vectorizer = TfidfVectorizer(min_df=1)
data = vectorizer.fit_transform(corpus)
features = vectorizer.get_feature_names()

for id,feature in enumerate(features):
    print feature,id

中国 0
北京 1
大厦 2
天安门 3
小明 4
小花 5
小贝 6
来到 7
杭研 8
毕业 9
清华大学 10
硕士 11
科学院 12
网易 13

d:\Anaconda2\lib\site-packages\sklearn\feature_extraction\text.py:1015: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  if hasattr(X, 'dtype') and np.issubdtype(X.dtype, np.float):

In [14]:
pd.set_option('display.precision', 2)
doc_df = pd.DataFrame(data.toarray(), index=text, columns=vectorizer.get_feature_names()).head(10)
doc_df

,中国,北京,大厦,天安门,小明,小花,小贝,来到,杭研,毕业,清华大学,硕士,科学院,网易
小贝来到北京清华大学,0.00,0.44,0.00,0.00,0.00,0.00,0.56,0.44,0.00,0.00,0.56,0.00,0.00,0.00
小花来到了网易杭研大厦,0.00,0.00,0.47,0.00,0.00,0.47,0.00,0.37,0.47,0.00,0.00,0.00,0.00,0.47
小明硕士毕业于中国科学院,0.47,0.00,0.00,0.00,0.37,0.00,0.00,0.00,0.00,0.47,0.00,0.47,0.47,0.00
小明爱北京小明爱北京天安门,0.00,0.65,0.00,0.41,0.65,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00