In [1]:
#chap6-02a
import pandas as pd
#建立一個pandas dataframe
df = pd.DataFrame({
   "姓名": ["約翰", "瑪莉", "麥可", "大衛"],
   "年齡": [16, 17, 16, 18],
   "性別": ["男", "女", "男", "男"],
  })
print("==Test1==")
print(df)
#取出dataframe其中一欄就是series
print(df['姓名'])
print(df['年齡'])
print("==Test2==")
#自行建立一個pandas series
score = pd.Series([78, 67, 90, 81], name="成績")
print(score)
#將series加入dataframe導致增加一欄(column)
print("==Test3==")
df['成績'] = score
print(df)

==Test1==
   姓名  年齡 性別
0  約翰  16  男
1  瑪莉  17  女
2  麥可  16  男
3  大衛  18  男
0    約翰
1    瑪莉
2    麥可
3    大衛
Name: 姓名, dtype: object
0    16
1    17
2    16
3    18
Name: 年齡, dtype: int64
==Test2==
0    78
1    67
2    90
3    81
Name: 成績, dtype: int64
==Test3==
   姓名  年齡 性別  成績
0  約翰  16  男  78
1  瑪莉  17  女  67
2  麥可  16  男  90
3  大衛  18  男  81

In [2]:
#chap6-02b
from pandas import DataFrame as pdDF
from pandas import Series as pdSer
#建立一個pandas dataframe
df = pdDF({
   "姓名": ["約翰", "瑪莉", "麥可", "大衛"],
   "年齡": [16, 17, 16, 18],
   "性別": ["男", "女", "男", "男"],
  })
print("==Test1==")
print(df)
#取出dataframe其中一欄就是series
print(df['姓名'])
print(df['年齡'])
print("==Test2==")
#自行建立一個pandas series
score = pdSer([78, 67, 90, 81], name="成績")
print(score)
#將series加入dataframe導致增加一欄(column)
print("==Test3==")
df['成績'] = score
print(df)

==Test1==
   姓名  年齡 性別
0  約翰  16  男
1  瑪莉  17  女
2  麥可  16  男
3  大衛  18  男
0    約翰
1    瑪莉
2    麥可
3    大衛
Name: 姓名, dtype: object
0    16
1    17
2    16
3    18
Name: 年齡, dtype: int64
==Test2==
0    78
1    67
2    90
3    81
Name: 成績, dtype: int64
==Test3==
   姓名  年齡 性別  成績
0  約翰  16  男  78
1  瑪莉  17  女  67
2  麥可  16  男  90
3  大衛  18  男  81

In [3]:
#chap6-02c
import pandas as pd
#建立一個pandas dataframe
df = pd.DataFrame({
   "姓名": ["約翰", "瑪莉", "麥可", "大衛"],
   "年齡": [16, 17, 16, 18],
   "性別": ["男", "女", "男", "男"],
  })
print("==Test1==")
print(df)
print(df.shape)
#列出所有欄索引標籤(欄位名稱)
for col in range(df.shape[1]):
  print(df.columns.values[col],' ',end='')
print()
print("==Test2==")
#列出各列的列索引標籤、表格內容
for row in range(df.shape[0]):
  print(df.index.values[row],' ',end='')
  for col in range(df.shape[1]):
    print(df.iloc[row][col],' ',end='')
  print()
print("==Test3==")
#比較loc(彈性較大)和iloc顯示表格內容
#loc使用行索引標籤(column index label)和列索引標籤(row index label)
print(df.loc[1]["姓名"])
#iloc使用行索引(column index)和列索引(row index)
print(df.iloc[1][0])

==Test1==
   姓名  年齡 性別
0  約翰  16  男
1  瑪莉  17  女
2  麥可  16  男
3  大衛  18  男
(4, 3)
姓名  年齡  性別
==Test2==
0  約翰  16  男
1  瑪莉  17  女
2  麥可  16  男
3  大衛  18  男
==Test3==
瑪莉
瑪莉

In [4]:
#chap6-02d
import pandas as pd
#建立一個pandas dataframe
df = pd.DataFrame({
   "姓名": ["約翰", "瑪莉", "麥可", "大衛"],
   "年齡": [16, 17, 16, 18],
   "性別": ["男", "女", "男", "男"],
  })
print("==Test1==")
#將dataframe轉成清單list
alldata=df.to_dict('split')
#會有3個list構成: columns, index, data
print(alldata)
print(alldata["columns"])  
print(alldata["index"])
print(alldata["data"])  
print("==Test2==")
#列出所有欄索引標籤(欄位名稱)
for col in range(len(alldata["columns"])):
  print(alldata["columns"][col],' ',end='')
print()
print("==Test3==")
#列出各列的列索引標籤、欄位內容
for row in range(len(alldata["index"])):
  print(alldata["index"][row],' ',end='')
  for col in range(len(alldata["columns"])):
    print(alldata["data"][row][col],' ',end='')
  print()

==Test1==
{'index': [0, 1, 2, 3], 'columns': ['姓名', '年齡', '性別'], 'data': [['約翰', 16, '男'], ['瑪莉', 17, '女'], ['麥可', 16, '男'], ['大衛', 18, '男']]}
['姓名', '年齡', '性別']
[0, 1, 2, 3]
[['約翰', 16, '男'], ['瑪莉', 17, '女'], ['麥可', 16, '男'], ['大衛', 18, '男']]
==Test2==
姓名  年齡  性別
==Test3==
0  約翰  16  男
1  瑪莉  17  女
2  麥可  16  男
3  大衛  18  男

In [ ]:
#chap6-02e
from pandas import DataFrame as pdDF
#建立一個pandas dataframe
df = pdDF({
   "姓名": ["約翰", "瑪莉", "麥可", "大衛"],
   "年齡": [16, 17, 16, 18],
   "性別": ["男", "女", "男", "男"],
   "成績": [78, 67, 90, 81]
  })
print(df)
#指定顯示dataframe中是數值型態的欄位的最大max()或最小min()數據
print("最小年齡:", df['年齡'].min())
print("最高分:", df['成績'].max())
#describe()可以顯示dataframe中是數值型態的欄位的統計資料
df.describe()

   姓名  年齡 性別  成績
0  約翰  16  男  78
1  瑪莉  17  女  67
2  麥可  16  男  90
3  大衛  18  男  81
最小年齡: 16
最高分: 90

              年齡         成績
count   4.000000   4.000000
mean   16.750000  79.000000
std     0.957427   9.486833
min    16.000000  67.000000
25%    16.000000  75.250000
50%    16.500000  79.500000
75%    17.250000  83.250000
max    18.000000  90.000000

In [ ]:
#chap6-02f
from pandas import DataFrame as pdDF
#建立一個pandas dataframe
df = pdDF({
   "姓名": ["約翰", "瑪莉", "麥可", "大衛"],
   "年齡": [16, 17, 16, 18],
   "性別": ["男", "女", "男", "男"],
   "成績": [78, 67, 90, 81]
  })
print(df)
newrow={"姓名":"珍妮","年齡":17,"性別":"女","成績":87}
df=df.append(newrow, ignore_index = True)
print(df)

   姓名  年齡 性別  成績
0  約翰  16  男  78
1  瑪莉  17  女  67
2  麥可  16  男  90
3  大衛  18  男  81
   姓名  年齡 性別  成績
0  約翰  16  男  78
1  瑪莉  17  女  67
2  麥可  16  男  90
3  大衛  18  男  81
4  珍妮  17  女  87

In [7]:
#chap6-02g
from pandas import DataFrame as pdDF
#建立一個pandas dataframe
df = pdDF({
   "姓名": ["約翰", "瑪莉", "麥可", "大衛"],
   "年齡": [16, 17, 16, 18],
   "性別": ["男", "女", "男", "男"],
   "成績": [78, 67, 90, 81]
  })
print("==Test1==")
print(df)
#刪除指定的欄
df.drop(['年齡'],inplace=True,axis=1)
print(df)
#刪除指定的列
indexNames=df[df['成績']<80].index
df.drop(indexNames,inplace=True)
print(df.shape)
print("==Test2==")
#列出所有欄索引(欄位名稱)
for col in range(df.shape[1]):
  print(df.columns.values[col],' ',end='')
print()
print("==Test3==")
#使用iloc列出各列的列索引、欄位內容
for row in range(df.shape[0]):
  print(df.index.values[row],' ',end='')
  for col in range(df.shape[1]):
    print(df.iloc[row][col],' ',end='')
  print()
print("==Test4==")
#列出所有欄索引(欄位名稱)
for col in range(df.shape[1]):
  print(df.columns.values[col],' ',end='')
print()
print("==Test5==")
#使用loc列出各列的列索引、欄位內容
for row in range(df.shape[0]):
  print(df.index.values[row],' ',end='')
  for col in range(df.shape[1]):
    print(df.loc[df.index.values[row]][df.columns.values[col]],' ',end='')
  print()

==Test1==
   姓名  年齡 性別  成績
0  約翰  16  男  78
1  瑪莉  17  女  67
2  麥可  16  男  90
3  大衛  18  男  81
   姓名 性別  成績
0  約翰  男  78
1  瑪莉  女  67
2  麥可  男  90
3  大衛  男  81
(2, 3)
==Test2==
姓名  性別  成績
==Test3==
2  麥可  男  90
3  大衛  男  81
==Test4==
姓名  性別  成績
==Test5==
2  麥可  男  90
3  大衛  男  81

In [8]:
#chap6-02h
import pandas as pd
#建立一個pandas dataframe
df = pd.DataFrame({
   "姓名": ["約翰", "瑪莉", "麥可", "大衛"],
   "年齡": [16, 17, 16, 18],
   "性別": ["男", "女", "男", "男"],
   "成績": [78, 67, 90, 81]
  })
print("==Test1==")
print(df)
print("==Test2==")
#建立樞紐分析表
#aggfunc: mean是求平均, sum是求總和
table=pd.pivot_table(data=df,index=['性別'],columns=['年齡'],values=['成績'],aggfunc={'成績':'mean'})
print(table)
#查看欄索引標籤
#發現是元組tuple型態
print(table.columns.values)
#查看列索引標籤
print(table.index.values)
print("==Test3==")
#建立樞紐分析表
#aggfunc: mean是求平均, sum是求總和
table=pd.pivot_table(data=df,index=['性別'],values=['成績'],aggfunc={'成績':'sum'})
print(table)
#查看欄索引標籤
print(table.columns.values)
#查看列索引標籤
print(table.index.values)

==Test1==
   姓名  年齡 性別  成績
0  約翰  16  男  78
1  瑪莉  17  女  67
2  麥可  16  男  90
3  大衛  18  男  81
==Test2==
      成績
年齡    16    17    18
性別
女    NaN  67.0   NaN
男   84.0   NaN  81.0
[('成績', 16) ('成績', 17) ('成績', 18)]
['女' '男']
==Test3==
     成績
性別
女    67
男   249
['成績']
['女' '男']