# Python的日期和时间处理

## datetime模块

In [1]:
from datetime import datetime

In [2]:
now = datetime.now()
print(now)

2017-12-08 21:43:12.372385

In [3]:
print('年: {}, 月: {}, 日: {}'.format(now.year, now.month, now.day))

年: 2017, 月: 12, 日: 8

In [4]:
diff = datetime(2017, 3, 4, 17) - datetime(2017, 2, 18, 15)
print(type(diff))
print(diff)
print('经历了{}天, {}秒。'.format(diff.days, diff.seconds))

<class 'datetime.timedelta'>
14 days, 2:00:00
经历了14天, 7200秒。

## 字符串和datetime转换

### datetime -> str

In [5]:
# str()
dt_obj = datetime(2017, 3, 4)
str_obj = str(dt_obj)
print(type(str_obj))
print(str_obj)

<class 'str'>
2017-03-04 00:00:00

In [6]:
# datetime.strftime()
str_obj2 = dt_obj.strftime('%d-%m-%Y')
print(str_obj2)

04-03-2017

### str -> datetime

In [7]:
# strptime
dt_str = '2017-02-18'
dt_obj2 = datetime.strptime(dt_str, '%Y-%m-%d')
print(type(dt_obj2))
print(dt_obj2)

<class 'datetime.datetime'>
2017-02-18 00:00:00

In [8]:
# dateutil.parser.parse
from dateutil.parser import parse
dt_str2 = '2017/02/18'
dt_obj3 = parse(dt_str2)
print(type(dt_obj3))
print(dt_obj3)

<class 'datetime.datetime'>
2017-02-18 00:00:00

In [9]:
# pd.to_datetime
import pandas as pd
s_obj = pd.Series(['2017/02/18', '2017/02/19', '2017-02-25', '2017-02-26'], name='course_time')
print(s_obj)

0    2017/02/18
1    2017/02/19
2    2017-02-25
3    2017-02-26
Name: course_time, dtype: object

In [10]:
s_obj2 = pd.to_datetime(s_obj)
print(s_obj2)

0   2017-02-18
1   2017-02-19
2   2017-02-25
3   2017-02-26
Name: course_time, dtype: datetime64[ns]

In [11]:
# 处理缺失值
s_obj3 = pd.Series(['2017/02/18', '2017/02/19', '2017-02-25', '2017-02-26'] + [None], 
                   name='course_time')
print(s_obj3)

0    2017/02/18
1    2017/02/19
2    2017-02-25
3    2017-02-26
4          None
Name: course_time, dtype: object

In [12]:
s_obj4 = pd.to_datetime(s_obj3)
print(s_obj4) # NAT-> Not a Time

0   2017-02-18
1   2017-02-19
2   2017-02-25
3   2017-02-26
4          NaT
Name: course_time, dtype: datetime64[ns]