# Covid19 Data

I've had enough of this shit Goose!

Give me a break on my Python, I dont have a lot of time right now.

In [196]:
file_to_process = '03-23-2020.csv'

In [197]:
import pandas as pd
import glob

## Import The New File

In [198]:
df = pd.read_csv("MESSYCOVID19/csse_covid_19_data/csse_covid_19_daily_reports/"+file_to_process, index_col=None)

In [199]:
df.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,45001.0,Abbeville,South Carolina,US,2020-03-23 23:19:34,34.223334,-82.461707,1,0,0,0,"Abbeville, South Carolina, US"
1,22001.0,Acadia,Louisiana,US,2020-03-23 23:19:34,30.295065,-92.414197,1,0,0,0,"Acadia, Louisiana, US"
2,51001.0,Accomack,Virginia,US,2020-03-23 23:19:34,37.767072,-75.632346,1,0,0,0,"Accomack, Virginia, US"
3,16001.0,Ada,Idaho,US,2020-03-23 23:19:34,43.452658,-116.241552,13,0,0,0,"Ada, Idaho, US"
4,19001.0,Adair,Iowa,US,2020-03-23 23:19:34,41.330756,-94.471059,1,0,0,0,"Adair, Iowa, US"

## Data Cleaning to Match Old Format

In [200]:
df = df[['Province_State','Country_Region','Last_Update','Confirmed','Deaths','Recovered']]
df.columns = ['Province/State', 'Country/Region','Last Update','Confirmed','Deaths','Recovered']

In [201]:
df['Latitude']=''
df['Longitude']=''

In [202]:
df[df['Province/State']=='Virginia'].head()

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
2,Virginia,US,2020-03-23 23:19:34,1,0,0,,
29,Virginia,US,2020-03-23 23:19:34,2,0,0,,
36,Virginia,US,2020-03-23 23:19:34,6,0,0,,
44,Virginia,US,2020-03-23 23:19:34,0,0,0,,
55,Virginia,US,2020-03-23 23:19:34,0,0,0,,

We had multiple counties I'm ignoring here because what I want is the old format above all! Feel free to modify!.

In [203]:
df.fillna(0, inplace=True)
df = df.astype({"Deaths": int})
df = df.astype({"Recovered": int})   
df = df.astype({"Confirmed": int})   
df['Last Update']  = pd.to_datetime(df['Last Update'])

In [204]:
df.head()

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,South Carolina,US,2020-03-23 23:19:34,1,0,0,,
1,Louisiana,US,2020-03-23 23:19:34,1,0,0,,
2,Virginia,US,2020-03-23 23:19:34,1,0,0,,
3,Idaho,US,2020-03-23 23:19:34,13,0,0,,
4,Iowa,US,2020-03-23 23:19:34,1,0,0,,

In [205]:
#df.replace(regex=[r'.*China.*'], value='China', inplace=True)
#df.replace(regex=[r'^US$'], value='United States', inplace=True)
#df.replace(regex=[r'South Korea'], value='Korea, Rep.', inplace=True)
#df.replace(regex=[r'Hong Kong'], value='Hong Kong SAR, China', inplace=True)
#df.replace(regex=[r'^UK$'], value='United Kingdom', inplace=True)
#df.replace(regex=[r'^Iran.*'], value='Iran, Islamic Rep.', inplace=True)
#df.replace(regex=[r'Korea, South'], value='Korea, Rep.', inplace=True)
#df.replace(regex=[r'Republic of Korea'], value='Korea, Rep.', inplace=True)
#df.replace(regex=[r'Washington, D.C.'], value='Washington, DC', inplace=True)

In [206]:
df.to_clipboard()

In [207]:
# Group by state and Country sum because we now have counties
t = df.groupby(['Province/State','Country/Region','Last Update']).agg({'Confirmed' : 'sum'
                                                  ,'Deaths':'sum'
                                                  ,'Recovered':'sum'})

In [208]:
t = t.reset_index()

# Final table

Note these are totals! not daily!

In [209]:
t[t['Country/Region']=='United States'].head()

Empty DataFrame
Columns: [Province/State, Country/Region, Last Update, Deaths, Confirmed, Recovered]
Index: []

In [210]:
t.to_csv('COVID-19/csse_covid_19_data/csse_covid_19_daily_reports/'+file_to_process,index=None)