In [3]:
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
import pandas as pd

text =["小贝来到北京清华大学", 
        "小花来到了网易杭研大厦",   
        "小明硕士毕业于中国科学院",
        "小明爱北京小明爱北京天安门"
]
               
corpus=["小贝 来到 北京 清华大学", 
        "小花 来到 了 网易 杭研 大厦",   
        "小明 硕士 毕业 于 中国 科学院",
        "小明 爱 北京 小明 爱 北京 天安门"
]

## 二值化、词频

In [22]:
vectorizer = CountVectorizer(min_df=1,binary=True) #Transformer
data = vectorizer.fit_transform(corpus)
features = vectorizer.get_feature_names()
for word in features:
    print(word)
print(len(features))

中国
北京
大厦
天安门
小明
小花
小贝
来到
杭研
毕业
清华大学
硕士
科学院
网易
14

In [19]:
data.todense()

matrix([[0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0],
        [0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1],
        [1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0],
        [0, 2, 0, 1, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0]], dtype=int64)

In [23]:
doc_df = pd.DataFrame(data.toarray(), index=text, columns=vectorizer.get_feature_names()).head(10)

In [24]:
doc_df

               中国  北京  大厦  天安门  小明  小花  小贝  来到  杭研  毕业  清华大学  硕士  科学院  网易
小贝来到北京清华大学      0   1   0    0   0   0   1   1   0   0     1   0    0   0
小花来到了网易杭研大厦     0   0   1    0   0   1   0   1   1   0     0   0    0   1
小明硕士毕业于中国科学院    1   0   0    0   1   0   0   0   0   1     0   1    1   0
小明爱北京小明爱北京天安门   0   1   0    1   1   0   0   0   0   0     0   0    0   0

In [25]:
from sklearn.metrics.pairwise import cosine_similarity
cos_sims = cosine_similarity(doc_df)

In [26]:
cos_sims

array([[ 1.        ,  0.2236068 ,  0.        ,  0.28867513],
       [ 0.2236068 ,  1.        ,  0.        ,  0.        ],
       [ 0.        ,  0.        ,  1.        ,  0.25819889],
       [ 0.28867513,  0.        ,  0.25819889,  1.        ]])

In [27]:
sims_df = pd.DataFrame(cos_sims, index = text, columns = text)

In [28]:
sims_df

               小贝来到北京清华大学  小花来到了网易杭研大厦  小明硕士毕业于中国科学院  小明爱北京小明爱北京天安门
小贝来到北京清华大学           1.00         0.22          0.00           0.29
小花来到了网易杭研大厦          0.22         1.00          0.00           0.00
小明硕士毕业于中国科学院         0.00         0.00          1.00           0.26
小明爱北京小明爱北京天安门        0.29         0.00          0.26           1.00

## tf-idf

In [29]:
vectorizer = TfidfVectorizer(min_df=1)
data = vectorizer.fit_transform(corpus)
features = vectorizer.get_feature_names()
for word in features:
    print(word)

中国
北京
大厦
天安门
小明
小花
小贝
来到
杭研
毕业
清华大学
硕士
科学院
网易

In [30]:
pd.set_option('display.precision', 2)
doc_df = pd.DataFrame(data.toarray(), index=text, columns=vectorizer.get_feature_names()).head(10)
doc_df

,中国,北京,大厦,天安门,小明,小花,小贝,来到,杭研,毕业,清华大学,硕士,科学院,网易
小贝来到北京清华大学,0.00,0.44,0.00,0.00,0.00,0.00,0.56,0.44,0.00,0.00,0.56,0.00,0.00,0.00
小花来到了网易杭研大厦,0.00,0.00,0.47,0.00,0.00,0.47,0.00,0.37,0.47,0.00,0.00,0.00,0.00,0.47
小明硕士毕业于中国科学院,0.47,0.00,0.00,0.00,0.37,0.00,0.00,0.00,0.00,0.47,0.00,0.47,0.47,0.00
小明爱北京小明爱北京天安门,0.00,0.65,0.00,0.41,0.65,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00