## 初始環境設定

In [123]:
import pandas as pd
df=pd.read_csv('200811-201811.csv')
pd.set_option("display.max_rows", 1000)    #設定最大能顯示1000rows
pd.set_option("display.max_columns", 1000) #設定最大能顯示1000columns
from pylab import mpl
mpl.rcParams['font.sans-serif'] = ['Microsoft YaHei']  
# 指定默認字形：解決plot不能顯示中文問題
mpl.rcParams['axes.unicode_minus'] = False

## 檢查屬性

In [124]:
df.dtypes

SO2           object
CO           float64
O3           float64
PM25          object
Nox            int64
NO           float64
NO2          float64
THC           object
NMHC          object
CH4           object
WindSpeed     object
TEMP          object
Humidity     float64
dtype: object

## 屬性轉換

In [125]:
df["SO2"] = pd.to_numeric(df.SO2, errors='coerce')
df["CO"] = pd.to_numeric(df.CO, errors='coerce')
df["O3"] = pd.to_numeric(df.O3, errors='coerce')
df["PM25"] = pd.to_numeric(df.PM25, errors='coerce')
df["Nox"] = pd.to_numeric(df.Nox, errors='coerce')
df["NO"] = pd.to_numeric(df.NO, errors='coerce')
df["NO2"] = pd.to_numeric(df.NO2, errors='coerce')
df["THC"] = pd.to_numeric(df.THC, errors='coerce')
df["NMHC"] = pd.to_numeric(df.NMHC, errors='coerce')
df["CH4"] = pd.to_numeric(df.CH4, errors='coerce')
df["WindSpeed"] = pd.to_numeric(df.WindSpeed, errors='coerce')
df["TEMP"] = pd.to_numeric(df.TEMP, errors='coerce')
df["Humidity"] = pd.to_numeric(df.Humidity, errors='coerce')

## 將缺失值NaN改成0

In [126]:
df=df.fillna(0)

In [127]:
df.head()

,SO2,CO,O3,PM25,Nox,NO,NO2,THC,NMHC,CH4,WindSpeed,TEMP,Humidity
0,3.9,0.37,32.1,22.0,16,1.94,14.19,2.036,0.104,1.932,3.56,23.08,80.64
1,2.9,0.51,28.5,21.0,21,2.48,18.35,2.159,0.202,1.957,1.30,23.58,71.83
2,3.8,0.35,27.6,24.0,13,1.96,11.39,0.000,0.000,0.000,2.60,22.98,83.83
3,4.5,0.32,42.5,21.0,11,1.22,10.04,0.000,0.000,0.000,3.29,24.44,74.93
4,3.8,0.34,46.4,18.0,13,1.14,11.71,1.983,0.079,1.903,4.66,24.33,73.13

## 檢查屬性是否已經改變

In [128]:
df.dtypes

SO2          float64
CO           float64
O3           float64
PM25         float64
Nox            int64
NO           float64
NO2          float64
THC          float64
NMHC         float64
CH4          float64
WindSpeed    float64
TEMP         float64
Humidity     float64
dtype: object

## 存檔至新的CSV

In [129]:
df.to_csv('200811-201811.csv')

## 使用Excel開啟該CSV檔案

### 刪除多餘欄位，將儲存格左移

## 使用WEKA開啟資料，並且選擇分類器進行分析

### 數萬筆資料需花較長時間等待結果