In [1]:
import pandas as pd

In [2]:
fruits = {"蘋果": [4, 3, 1, 0],
          "香蕉": [0, 4, 6, 2],
          "橘子": [1, 5, 2, 4]}
df = pd.DataFrame(fruits)
df

   蘋果  香蕉  橘子
0   4   0   1
1   3   4   5
2   1   6   2
3   0   2   4

In [3]:
cites = ["台北","新北","台中","高雄"]
df = pd.DataFrame(fruits, index=cites) 
df

    蘋果  香蕉  橘子
台北   4   0   1
新北   3   4   5
台中   1   6   2
高雄   0   2   4

In [4]:
df = pd.DataFrame(fruits, 
                  columns=["香蕉","橘子","蘋果"],
                  index=cites) 
df

    香蕉  橘子  蘋果
台北   0   1   4
新北   4   5   3
台中   6   2   1
高雄   2   4   0

In [5]:
df.columns = ["banana", "orange", "apple"]
cites[2] = "桃園"
df.index = cites
df

    banana  orange  apple
台北       0       1      4
新北       4       5      3
桃園       6       2      1
高雄       2       4      0

In [6]:
df.T

        台北  新北  桃園  高雄
banana   0   4   6   2
orange   1   5   2   4
apple    4   3   1   0