In [1]:
import pandas as pd

fruits = {"蘋果": [4, 3, 1, 0],
          "香蕉": [0, 4, 6, 2],
          "橘子": [1, 5, 2, 4]}
df = pd.DataFrame(fruits)

In [2]:
df.head()

   蘋果  香蕉  橘子
0   4   0   1
1   3   4   5
2   1   6   2
3   0   2   4

In [3]:
df.head(3)

   蘋果  香蕉  橘子
0   4   0   1
1   3   4   5
2   1   6   2

In [4]:
print(df.tail())
print(df.tail(2))

   蘋果  香蕉  橘子
0   4   0   1
1   3   4   5
2   1   6   2
3   0   2   4
   蘋果  香蕉  橘子
2   1   6   2
3   0   2   4

In [5]:
print(df.index)
print(df.columns)
print(df.values)

RangeIndex(start=0, stop=4, step=1)
Index(['蘋果', '香蕉', '橘子'], dtype='object')
[[4 0 1]
 [3 4 5]
 [1 6 2]
 [0 2 4]]

In [6]:
print(len(df))
print(df.shape)

4
(4, 3)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   蘋果      4 non-null      int64
 1   香蕉      4 non-null      int64
 2   橘子      4 non-null      int64
dtypes: int64(3)
memory usage: 224.0 bytes