In [1]:
import pandas as pd

products = {"channel": ["網路","網路","電視","電視","郵購","郵購"],
            "company": ["EHS","Momo","EHS","Viva","Momo","EHS"],
            "sales":   [11.22,23.50,12.99,15.95,25.75,11.55]}
oridnals = ["A","B","C","D","E","F"]
df = pd.DataFrame(products, index=oridnals)
df

  channel company  sales
A      網路     EHS  11.22
B      網路    Momo  23.50
C      電視     EHS  12.99
D      電視    Viva  15.95
E      郵購    Momo  25.75
F      郵購     EHS  11.55

In [2]:
df[df.sales > 15]

  channel company  sales
B      網路    Momo  23.50
D      電視    Viva  15.95
E      郵購    Momo  25.75

In [3]:
df[df["company"].isin(["Momo","Viva"])]

  channel company  sales
B      網路    Momo  23.50
D      電視    Viva  15.95
E      郵購    Momo  25.75

In [4]:
df[(df.sales > 15) & (df.sales < 25)]

  channel company  sales
B      網路    Momo  23.50
D      電視    Viva  15.95