In [1]:
import pandas as pd

fruits = {"蘋果": [4, 3, 1, 0],
          "香蕉": [0, 4, 6, 2],
          "橘子": [1, 5, 2, 4]}
df = pd.DataFrame(fruits)

In [2]:
df.to_csv("fruits.csv",index=False,encoding="utf8")
df.to_json("fruits.json")

In [3]:
df2 = pd.read_csv("fruits.csv", encoding="utf8")
df2 = pd.read_json("fruits.json")
df2

   蘋果  香蕉  橘子
0   4   0   1
1   3   4   5
2   1   6   2
3   0   2   4