In [1]:
import pandas as pd

products = {"channel": ["網路","網路","電視","電視","郵購","郵購"],
            "company": ["EHS","Momo","EHS","Viva","Momo","EHS"],
            "sales":   [11.22,23.50,12.99,15.95,25.75,11.55]}
oridnals = ["A","B","C","D","E","F"]
df = pd.DataFrame(products, index=oridnals)
df

  channel company  sales
A      網路     EHS  11.22
B      網路    Momo  23.50
C      電視     EHS  12.99
D      電視    Viva  15.95
E      郵購    Momo  25.75
F      郵購     EHS  11.55

In [2]:
df["sales"].head(3)

A    11.22
B    23.50
C    12.99
Name: sales, dtype: float64

In [3]:
df.sales.head(3)

A    11.22
B    23.50
C    12.99
Name: sales, dtype: float64

In [4]:
df[["channel","company"]].head(3)

  channel company
A      網路     EHS
B      網路    Momo
C      電視     EHS

In [5]:
df[0:2]

  channel company  sales
A      網路     EHS  11.22
B      網路    Momo  23.50

In [6]:
df["C":"E"]

  channel company  sales
C      電視     EHS  12.99
D      電視    Viva  15.95
E      郵購    Momo  25.75

In [7]:
df.loc["B"]

channel      網路
company    Momo
sales      23.5
Name: B, dtype: object

In [8]:
df.loc[:, ["channel","sales"]]

  channel  sales
A      網路  11.22
B      網路  23.50
C      電視  12.99
D      電視  15.95
E      郵購  25.75
F      郵購  11.55

In [9]:
df.loc[["C","E"], ["channel","sales"]]

  channel  sales
C      電視  12.99
E      郵購  25.75

In [10]:
df.loc["C", ["channel","sales"]]

channel       電視
sales      12.99
Name: C, dtype: object

In [11]:
df.loc["C":"E", ["channel","sales"]]

  channel  sales
C      電視  12.99
D      電視  15.95
E      郵購  25.75

In [12]:
df.loc["A"]["sales"]

11.22

In [13]:
df.iloc[3]

channel       電視
company     Viva
sales      15.95
Name: D, dtype: object

In [14]:
df.iloc[3:5, 1:3]

  company  sales
D    Viva  15.95
E    Momo  25.75