In [1]:
import pandas as pd

products = {"channel": ["網路","網路","電視","電視","郵購","郵購"],
            "company": ["EHS","Momo","EHS","Viva","Momo","EHS"],
            "sales":   [11.22,23.50,12.99,15.95,25.75,11.55]}
oridnals = ["A","B","C","D","E","F"]
df = pd.DataFrame(products, index=oridnals)
df

  channel company  sales
A      網路     EHS  11.22
B      網路    Momo  23.50
C      電視     EHS  12.99
D      電視    Viva  15.95
E      郵購    Momo  25.75
F      郵購     EHS  11.55

In [2]:
df.loc["A", "sales"] = 9.6
df.iloc[1,2] = 22.01
df.head(2)

  channel company  sales
A      網路     EHS   9.60
B      網路    Momo  22.01

In [3]:
r = ["郵購", "Viva", 18.9] 
df.loc["C"] = r
df.head(3)

  channel company  sales
A      網路     EHS   9.60
B      網路    Momo  22.01
C      郵購    Viva  18.90

In [4]:
s = [10, 20, 30, 40, 50, 60]
df.loc[ : , "sales"] = s
df.head()

  channel company  sales
A      網路     EHS     10
B      網路    Momo     20
C      郵購    Viva     30
D      電視    Viva     40
E      郵購    Momo     50