In [1]:
# -*- coding:utf-8 -*-

### 5.2.2  Python存取MySQL數據

In [2]:
# 執行SQL語句

from sqlalchemy import create_engine
import pandas as pd
MYSQL_ADDR="127.0.0.1"

def run_sql(db_name, sql):
    print(sql)
    url = 'mysql+pymysql://xieyan:123456@{}:3306/{}?charset=utf8'.format(MYSQL_ADDR, 
         db_name)
    engine = create_engine(url, echo=False) # 創建數據庫引擎
    cus = engine.connect() # 連接數據庫
    ret = None
    try:
        ret = cus.execute(sql).fetchall() # 執行SQL語句
    except Exception as err:
        print("Error", err)
    cus.close()
    return ret

In [3]:
# 向數據庫中寫數據

def write_table_to_db(db_name, table_name, df):
    try:
        dbs = run_sql("", "show databases") # 列出所有庫
        if (db_name,) not in dbs:
            run_sql("test_db", "create database {}".format(db_name))  # 建庫
            print("create db")

        tables = run_sql("test_db", "show tables") # 列出庫中所有表
        if (table_name,) in tables:
            run_sql('test_db', 'drop table {}'.format(table_name))  # 刪表
            print("drop table")
        url  = 'mysql+pymysql://xieyan:123456@{}:3306/{}?charset=utf8'.format(\
                 MYSQL_ADDR, db_name)
        engine = create_engine(url, echo=False)
        conn = engine.connect()
        pd.io.sql.to_sql(df, table_name, con=conn, if_exists='fail') # 寫入數據表
        conn.close()
        print("write ", len(df))
    except Exception as err:
        print("error", err)

dict1 = {'col1':[1,2,5,7],'col2':['a','b','c','d']}
df1 = pd.DataFrame(dict1)
write_table_to_db("test_db", "test_table_2", df1)

show databases
show tables
drop table test_table_2
Error This result object does not return rows. It has been closed automatically.
drop table
write  4

In [4]:
# 從數據庫讀數據

def read_table_from_db(db_name, sql, debug=False):
    url = 'mysql+pymysql://xieyan:123456@{}:3306/{}?charset=utf8'.format(\
          MYSQL_ADDR, db_name)
    engine = create_engine(url, echo=False)
    conn = engine.connect()
    if debug:
        print(sql)
    df = pd.read_sql(sql, conn) # 調用之前代碼中定義的函數
    conn.close()
    return df # 返回數據表
 
df2 = read_table_from_db('test_db', 'select * from test_table_2')
print(df2)

   index  col1 col2
0      0     1    a
1      1     2    b
2      2     5    c
3      3     7    d

### 5.2.3  Python存取SQL Server數據庫

In [5]:
from sqlalchemy import Table, MetaData, Column, String, create_engine, Integer, select

url = "mssql+pymssql://SA:Xy123456@127.0.0.1:1435/testme"
engine = create_engine(url, deprecate_large_types=True)
m = MetaData()
t = Table('test_table', m, Column('id', Integer, primary_key=True),
                Column('value', Integer))
m.drop_all(engine) # 爲避免重複創建，先刪除測試表
m.create_all(engine) # 創建測試表
engine.execute(t.insert(), {'id': 1, 'value':123}, {'id':2, 'value':234}) 
sql = select([t.c.value]) # 生成語句： SELECT test_table.value FROM test_table 
result = engine.execute(sql) # 運行語句
result.fetchall()

[(123,), (234,)]

### 5.2.4  Python存取Sqlite數據庫

In [6]:
import sqlite3

conn = sqlite3.connect('test.db')
c = conn.cursor()
c.execute('''CREATE TABLE IF NOT EXISTS TIPS 
       (NAME           TEXT    NOT NULL,
       ADDRESS        CHAR(50),
       BILL         REAL);''') # 創建數據表
c.execute("INSERT INTO TIPS (NAME,ADDRESS,BILL) \
      VALUES ('Zhang', 'Beijing', 1004.00 )"); # 向表中輸入數據
cursor = c.execute("SELECT * from TIPS")
for row in cursor:
    print(row)
conn.commit()
conn.close()

('Zhang', 'Beijing', 1004.0)
('Zhang', 'Beijing', 1004.0)

### 5.2.5  Python存取DBase數據

In [7]:
import pandas as pd
from dbfread import DBF

table = DBF('test.dbf', encoding="utf8") # 打開數據文件，字符集爲GB2312
arr = []
for record in table: # 讀出表中記錄
    dic = {}
    for field in record: # 讀出表中字段
        dic[field] = record[field]
    arr.append(dic)
df = pd.DataFrame(arr) # 轉換成Pandas的DataFrame
print(df.head())

   姓名  年齡
0  張三  26
1  李四  30