## 初始環境設定

In [4]:
import pandas as pd
df=pd.read_csv('198207-201811.csv')
pd.set_option("display.max_rows", 1000)    #設定最大能顯示1000rows
pd.set_option("display.max_columns", 1000) #設定最大能顯示1000columns
from pylab import mpl
mpl.rcParams['font.sans-serif'] = ['Microsoft YaHei']  
# 指定默認字形：解決plot不能顯示中文問題
mpl.rcParams['axes.unicode_minus'] = False

## 檢查屬性

In [5]:
df.dtypes

SO2          object
CO           object
CO2          object
O3           object
PM25         object
Nox          object
NO           object
NO2          object
THC          object
NMHC         object
CH4          object
WindSpeed    object
TEMP         object
Humidity     object
dtype: object

## 屬性轉換

In [6]:
df["SO2"] = pd.to_numeric(df.SO2, errors='coerce')
df["CO"] = pd.to_numeric(df.CO, errors='coerce')
df["CO2"] = pd.to_numeric(df.CO2, errors='coerce')
df["O3"] = pd.to_numeric(df.O3, errors='coerce')
df["PM25"] = pd.to_numeric(df.PM25, errors='coerce')
df["Nox"] = pd.to_numeric(df.Nox, errors='coerce')
df["NO"] = pd.to_numeric(df.NO, errors='coerce')
df["NO2"] = pd.to_numeric(df.NO2, errors='coerce')
df["THC"] = pd.to_numeric(df.THC, errors='coerce')
df["NMHC"] = pd.to_numeric(df.NMHC, errors='coerce')
df["CH4"] = pd.to_numeric(df.CH4, errors='coerce')
df["WindSpeed"] = pd.to_numeric(df.WindSpeed, errors='coerce')
df["TEMP"] = pd.to_numeric(df.TEMP, errors='coerce')
df["Humidity"] = pd.to_numeric(df.Humidity, errors='coerce')

In [7]:
df.head()

,SO2,CO,CO2,O3,PM25,Nox,NO,NO2,THC,NMHC,CH4,WindSpeed,TEMP,Humidity
0,1.5,0.17,416.58,41.3,6.0,2.32,0.44,1.86,NaN,NaN,NaN,NaN,16.32,96.92
1,2.3,0.39,428.07,25.5,12.0,24.56,5.54,19.02,1.905,0.124,1.78,1.74,22.12,78.93
2,2.0,0.44,NaN,24.6,12.0,26.70,5.49,21.21,NaN,NaN,NaN,2.15,23.19,75.29
3,2.4,0.54,NaN,23.5,13.0,30.91,7.95,22.96,1.997,0.157,1.84,2.01,22.81,81.56
4,1.9,0.30,NaN,32.4,12.0,13.41,2.71,10.71,NaN,NaN,NaN,2.12,23.58,75.69

## 處理缺失值

In [5]:
new_df=df.dropna()

In [6]:
new_df.head()

,SO2,CO,CO2,O3,PM25,Nox,NO,NO2,THC,NMHC,CH4,WindSpeed,TEMP,Humidity
0,2.4,0.38,424.55,37.9,14,21.43,3.42,18.02,1.875,0.104,1.771,1.38,22.88,74.56
1,2.7,0.33,423.15,25.2,14,19.66,5.42,14.24,1.828,0.109,1.718,1.37,28.09,72.05
2,3.1,0.38,428.91,22.4,13,21.62,5.50,16.11,1.921,0.141,1.781,1.28,29.53,71.91
3,2.7,0.30,422.91,17.9,12,18.78,6.48,12.30,1.825,0.107,1.719,1.56,30.33,65.98
4,2.9,0.35,426.67,29.5,13,19.73,4.78,14.95,1.900,0.114,1.786,1.39,28.23,73.20

## 檢查屬性是否已經改變

In [7]:
new_df.dtypes

SO2          float64
CO           float64
CO2          float64
O3           float64
PM25           int64
Nox          float64
NO           float64
NO2          float64
THC          float64
NMHC         float64
CH4          float64
WindSpeed    float64
TEMP         float64
Humidity     float64
dtype: object

## 存檔至新的CSV

In [8]:
new_df.to_csv('2014-2018.csv',encoding='utf8')

## 使用Excel開啟該CSV檔案

### 刪除多餘欄位，將儲存格左移

## 使用WEKA開啟資料，並且選擇分類器進行分析